<img align="left" src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/CC_BY.png"><br />

This notebook is adapted by Zhuo Chen from the notebooks created by [Nathan Kelber](http://nkelber.com), [William Mattingly](https://datascience.si.edu/people/dr-william-mattingly) and [Melanie Walsh](https://melaniewalsh.org) under [Creative Commons CC BY License](https://creativecommons.org/licenses/by/4.0/)<br />
For questions/comments/improvements, email zhuo.chen@ithaka.org or nathan.kelber@ithaka.org.<br />
___

# Pandas 2

**Description:** This notebook describes how to:
* Create a dataframe from a .csv file
* Filter data 
* Update data in a dataframe

This is the second notebook in a series on learning to use Pandas. 

**Use Case:** For Learners (Detailed explanation, not ideal for researchers)

**Difficulty:** Intermediate

**Knowledge Required:** 
* [Pandas 1](./pandas-1.ipynb)
* Python Basics ([Start Python Basics I](./python-basics-1.ipynb))

**Knowledge Recommended:** 
* [Python Intermediate 2](./python-intermediate-2.ipynb)
* [Python Intermediate 4](./python-intermediate-4.ipynb)

**Completion Time:** 90 minutes

**Data Format:** CSV (.csv)

**Libraries Used:** Pandas

**Research Pipeline:** None
___

In [1]:
### Download the sample file for this Lesson
import urllib.request
url = 'https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/failed_bank_since_2000.csv'
urllib.request.urlretrieve(url, './data/' + url.rsplit('/', 1)[-1])
print('Samples files retrieved.')

Samples files retrieved.

## Create a dataframe from a .csv file

When working with DataFrames, we are usually using a dataset that has been compiled by someone else. Often the data will be in the form of a CSV or Excel file. 

We can convert the data in a .csv file to a Pandas DataFrame using the `.read_csv()` method. We pass in the location of the .csv file.

Use the `**File > Open**` menu above to navigate to the `failed_bank_since_2000.csv` in the `/data` folder. Preview its structure before we load it into a dataframe.

In [2]:
import pandas as pd

In [3]:
# Create a DataFrame `df` from a CSV file
df = pd.read_csv('data/failed_bank_since_2000.csv')
df

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [4]:
# Change the display setting
pd.set_option('display.min_rows', 40)

In [5]:
# Print out the dataframe
df

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519
...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

By convention, a dataframe variable is called `df` but we could give it any valid Python variable name.

In [6]:
# Get some info about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bank Name              563 non-null    object
 1   City                   563 non-null    object
 2   State                  563 non-null    object
 3   Cert                   563 non-null    int64
 4   Acquiring Institution  532 non-null    object
 5   Closing Date           563 non-null    object
 6   Fund                   563 non-null    int64
dtypes: int64(2), object(5)
memory usage: 30.9+ KB

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

In the exercises in this notebook, we'll work on a dataset built from Constellate.

We'll use the `constellate` client to automatically retrieve the [metadata](https://constellate.org/docs/key-terms/#metadata) for a [dataset](https://constellate.org/docs/key-terms/#dataset). We can retrieve [metadata](https://constellate.org/docs/key-terms/#metadata) in a [CSV file](https://constellate.org/docs/key-terms/#csv-file) using the `get_metadata` method.

In [7]:
# download and import constellate library
!pip install constellate-client
import constellate

Requirement already satisfied: constellate-client in /opt/homebrew/lib/python3.10/site-packages (0.0.6)
Requirement already satisfied: progressbar in /opt/homebrew/lib/python3.10/site-packages (from constellate-client) (2.5)
Requirement already satisfied: requests in /opt/homebrew/lib/python3.10/site-packages (from constellate-client) (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/lib/python3.10/site-packages (from requests->constellate-client) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/lib/python3.10/site-packages (from requests->constellate-client) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.10/site-packages (from requests->constellate-client) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.10/site-packages (from requests->constellate-client) (3.4)
Constellate: use and download of datasets is covered by the Terms & Conditions of Use: https://constellate.org/terms-and-conditions/

In [8]:
# Creating a variable `dataset_id` to hold our dataset ID
# The default dataset is Shakespeare Quarterly, 1950-present
# retrieve the metadata
dataset_id = "7e41317e-740f-e86a-4729-20dab492e925"
metadata = constellate.get_metadata(dataset_id)

All documents from JSTOR published in Shakespeare Quarterly from 1950 - 2020. 6745 documents.
INFO:root:File /Users/zchen/data/7e41317e-740f-e86a-4729-20dab492e925-sampled-metadata.csv exists. Not re-downloading.

The metadata is stored in a .csv file. In the following code cell, read in the data using Pandas.

In [9]:
shake = pd.read_csv(metadata)
shake

,id,title,isPartOf,publicationYear,doi,docType,provider,datePublished,issueNumber,volumeNumber,url,creator,publisher,language,pageStart,pageEnd,placeOfPublication,wordCount,pageCount,outputFormat
0,http://www.jstor.org/stable/2902131,Fragments of Nationalism in Troilus and Cressida,Shakespeare Quarterly,2000,NaN,article,jstor,2000-07-01,2.0,51,http://www.jstor.org/stable/2902131,Matthew A. Greenfield,Folger Shakespeare Library,eng,181,200,NaN,9538,20,unigram; bigram; trigram
1,http://www.jstor.org/stable/2871217,"Shakespearean Chronology, Ideological Complici...",Shakespeare Quarterly,1994,NaN,article,jstor,1994-07-01,2.0,45,http://www.jstor.org/stable/2871217,Barbara Freedman,Folger Shakespeare Library,eng,190,210,NaN,12472,21,unigram; bigram; trigram
2,http://www.jstor.org/stable/2866912,Review Article,Shakespeare Quarterly,1962,NaN,article,jstor,1962-01-01,1.0,13,http://www.jstor.org/stable/2866912,R. G. Cox,Folger Shakespeare Library,eng,96,97,NaN,573,2,unigram; bigram; trigram
3,http://www.jstor.org/stable/41819770,Review Article,Shakespeare Quarterly,2012,NaN,article,jstor,2012-12-01,4.0,63,http://www.jstor.org/stable/41819770,Darryl Gless,Folger Shakespeare Library,eng,580,587,NaN,3658,8,unigram; bigram; trigram
4,http://www.jstor.org/stable/2868793,Review Article,Shakespeare Quarterly,1974,NaN,article,jstor,1974-07-01,3.0,25,http://www.jstor.org/stable/2868793,Marion O'Connor,Folger Shakespeare Library,eng,370,373,NaN,1914,4,unigram; bigram; trigram
5,http://www.jstor.org/stable/2869261,Falstaff in Windsor Forest: Villain or Victim?,Shakespeare Quarterly,1975,NaN,article,jstor,1975-01-01,1.0,26,http://www.jstor.org/stable/2869261,Jeanne Addison Roberts,Folger Shakespeare Library,eng,8,15,NaN,4193,8,unigram; bigram; trigram
6,http://www.jstor.org/stable/2870776,Coriolanus: Body Politic and Private Parts,Shakespeare Quarterly,1990,NaN,article,jstor,1990-12-01,4.0,41,http://www.jstor.org/stable/2870776,Zvi Jagendorf,Folger Shakespeare Library,eng,455,469,NaN,8209,15,unigram; bigram; trigram
7,http://www.jstor.org/stable/2869933,"Shakespeare in West Germany, 1983",Shakespeare Quarterly,1984,NaN,article,jstor,1984-07-01,2.0,35,http://www.jstor.org/stable/2869933,Wilhelm Hortmann,Folger Shakespeare Library,eng,214,218,NaN,2764,5,unigram; bigram; trigram
8,http://www.jstor.org/stable/2866221,Review Article,Shakespeare Quarterly,1951,NaN,article,jstor,1951-04-01,2.0,2,http://www.jstor.org/stable/2866221,A. H. R. Fairchild,Folger Shakespeare Library,eng,133,134,NaN,1207,2,unigram; bigram; trigram
9,http://www.jstor.org/stable/2870918,Review Article,Shakespeare Quarterly,1992,NaN,article,jstor,1992-04-01,1.0,43,http://www.jstor.org/stable/2870918,John W. Velz,Folger Shakespeare Library,eng,107,109,NaN,1517,3,unigram; bigram; trigram
10,http://www.jstor.org/stable/2866138,Review Article,Shakespeare Quarterly,1956,NaN,article,jstor,1956-01-01,1.0,7,http://www.jstor.org/stable/2866138,Anna Maria CrinÃ²,Folger Shakespeare Library,eng,129,130,NaN,635,2,unigram; bigram; trigram
11,http://www.jstor.org/stable/2868054,Front Matter,Shakespeare Quarterly,1967,NaN,article,jstor,1967-01-01,1.0,18,http://www.jstor.org/stable/2868054,NaN,Folger Shakespeare Library,eng,1,2,NaN,562,3,unigram; bigram; trigram
12,http://www.jstor.org/stable/2871118,Love as Trompe-l'oeil: Taxonomies of Desire in...,Shakespeare Quarterly,1995,NaN,article,jstor,1995-10-01,3.0,46,http://www.jstor.org/stable/2871118,Catherine Belsey,Folger Shakespeare Library,eng,257,276,NaN,10617,20,unigram; bigram; trigram
13,http://www.jstor.org/stable/2870360,Back Matter,Shakespeare Quarterly,1982,NaN,article,jstor,1982-04-01,1.0,33,http://www.jstor.org/stable/2870360,NaN,Folger Shakespeare Library,eng,126,128,NaN,702,4,unigram; bigram; trigram
14,http://www.jstor.org/stable/2867722,Reviews of Books Previously Recorded in Shakes...,Shakespeare Quarterly,1966,NaN,article,jstor,1966-07-01,3.0,17,http://www.jstor.org/stable/2867722,Rudolph E. Habenicht,Folger Shakespeare Library,eng,306,318,NaN,6258,13,unigram; bigram; trigram
15,http://www.jstor.org/stable/4624955,Citizens' Games: Differentiating Collaboration...,Shakespeare Quarterly,2007,NaN,article,jstor,2007-04-01,1.0,58,http://www.jstor.org/stable/4624955,Nina Levine,Folger Shakespeare Library,eng,31,64,NaN,16625,34,unigram; bigram; trigram
16,http://www.jstor.org/stable/2870664,Review Article,Shakespeare Quarterly,1991,NaN,article,jstor,1991-04-01,1.0,42,http://www.jstor.org/stable/2870664,Alexander Leggatt,Folger Shakespeare Library,eng,107,109,NaN,1645,3,unigram; bigram; trigram
17,http://www.jstor.org/stable/2868248,Review Article,Shakespeare Quarterly,1966,NaN,article,jstor,1966-04-01,2.0,17,http://www.jstor.org/stable/2868248,Ian Forbes Fraser,Folger Shakespeare Library,eng,181,183,NaN,1033,3,unigram; bigram; trigram
18,http://www.jstor.org/stable/2870895,Review Article,Shakespeare Quarterly,1992,NaN,article,jstor,1992-07-01,2.0,43,http://www.jstor.org/stable/2870895,Russ McDonald,Folger Shakespeare Library,eng,247,250,NaN,2012,4,unigram; bigram; trigram
19,http://www.jstor.org/stable/2871037,Back Matter,Shakespeare Quarterly,1997,NaN,article,jstor,1997-10-01,3.0,48,http://www.jstor.org/stable/2871037,NaN,Folger Shakespeare Library,eng,372,373,NaN,1679,5,unigram; bigram; trigram
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,http://www.jstor.org/stable/2870902,Overkill in Shakespeare,Shakespeare Quarterly,1992,NaN,article,jstor,1992-04-01,1.0,43,http://www.jstor.org/stable/2870902,Gillian Murray Kendall,Folger Shakespeare Library,eng,33,50,NaN,9657,18,unigram; bigram; trigram
1481,http://www.jstor.org/stable/2868419,An Eighteenth-Century Stage Adaptation of the ...,Shakespeare Quarterly,1970,NaN,article,jstor,1970-01-01,1.0,21,http://www.jstor.org/stable/2868419,Akihiro Yamada,Folger Shakespeare Library,eng,103,104,NaN,815,2,unigram; bigram; trigram
1482,http://www.jstor.org/stable/24778514,Review Article,Shakespeare Quarterly,2014,NaN,article,jstor,2014-04-01,1.0,65,http://www.jstor.org/stable/24778514,Deborah T. Curren-Aquino,Folger Shakespeare Library,eng,86,90,NaN,2171,5,unigram; bigram; trigram
1483,http://www.jstor.org/stable/2867999,[Illustration]: Illustration of Act V of Teren...,Shakespeare Quarterly,1962,NaN,article,jstor,1962-10-01,4.0,13,http://www.jstor.org/stable/2867999,NaN,Folger Shakespeare Library,eng,520,520,NaN,46,1,unigram; bigram; trigram
1484,http://www.jstor.org/stable/2869529,Other Shakespeare in New York City,Shakespeare Quarterly,1980,NaN,article,jstor,1980-07-01,2.0,31,http://www.jstor.org/stable/2869529,Carol Rosen,Folger Shakespeare Library,eng,197,202,NaN,3267,6,unigram; bigram; trigram
1485,http://www.jstor.org/stable/2870928,Grubbing Up the Stock: Dramatizing Queens in H...,Shakespeare Quarterly,1988,NaN,article,jstor,1988-10-01,3.0,39,http://www.jstor.org/stable/2870928,Kim H. Noling,Folger Shakespeare Library,eng,291,306,NaN,9411,16,unigram; bigram; trigram
1486,http://www.jstor.org/stable/2868110,Review Article,Shakespeare Quarterly,1964,NaN,article,jstor,1964-10-01,4.0,15,http://www.jstor.org/stable/2868110,Robert Loper,Folger Shakespeare Library,eng,433,434,NaN,647,2,unigram; bigram; trigram
1487,http://www.jstor.org/stable/2870937,Review Article,Shakespeare Quarterly,1988,NaN,article,jstor,1988-10-01,3.0,39,http://www.jstor.org/stable/2870937,Jeanne Addison Roberts,Folger Shakespeare Library,eng,370,371,NaN,661,2,unigram; bigram; trigram
1488,http://www.jstor.org/stable/4123506,Review Article,Shakespeare Quarterly,2006,NaN,article,jstor,2006-12-01,4.0,57,http://www.jstor.org/stable/4123506,Edmund Valentine Campos,Folger Shakespeare Library,eng,489,492,NaN,1376,4,unigram; bigram; trigram
1489,http://www.jstor.org/stable/2867109,"Stratford, Connecticut, Shakespeare Festival, ...",Shakespeare Quarterly,1959,NaN,article,jstor,1959-10-01,4.0,10,http://www.jstor.org/stable/2867109,Claire McGlinchee,Folger Shakespeare Library,eng,573,576,NaN,2147,4,unigram; bigram; trigram
1490,http://www.jstor.org/stable/41679774,Review Article,Shakespeare Quarterly,2012,NaN,article,jstor,2012-10-01,3.0,63,http://www.jstor.org/stable/41679774,David Riggs,Folger Shakespeare Library,eng,428,431,NaN,1577,4,unigram; bigram; trigram
1491,http://www.jstor.org/stable/2868044,Review Article,Shakespeare Quarterly,1962,NaN,article,jstor,1962-10-01,NaN,4,http://www.jstor.org/stable/2868044,George Burke Johnston,Folger Shakespeare Library,eng,581,581,NaN,498,1,unigram; bigram; trigram
1492,http://www.jstor.org/stable/2870754,They Were Not Such Good Years,Shakespeare Quarterly,1989,NaN,article,jstor,1989-04-01,1.0,40,http://www.jstor.org/stable/2870754,Frankie Rubinstein,Folger Shakespeare Library,eng,70,74,NaN,3686,5,unigram; bigram; trigram
1493,http://www.jstor.org/stable/2868513,The Third Murderer in Macbeth,Shakespeare Quarterly,1972,NaN,article,jstor,1972-07-01,3.0,23,http://www.jstor.org/stable/2868513,George Walton Williams,Folger Shakespeare Library,eng,261,261,NaN,274,1,unigram; bigram; trigram
1494,http://www.jstor.org/stable/2871404,Review Article,Shakespeare Quarterly,1997,NaN,article,jstor,1997-04-01,1.0,48,http://www.jstor.org/stable/2871404,M. Lindsay Kaplan,Folger Shakespeare Library,eng,91,92,NaN,1011,2,unigram; bigram; trigram
1495,http://www.jstor.org/stable/2869482,The New Arden Coriolanus,Shakespeare Quarterly,1979,NaN,article,jstor,1979-07-01,3.0,30,http://www.jstor.org/stable/2869482,T. H. Howard-Hill,Folger Shakespeare Library,eng,423,426,NaN,2064,4,unigram; bigram; trigram
1496,http://www.jstor.org/stable/2867034,Review Article,Shakespeare Quarterly,1959,NaN,article,jstor,1959-01-01,1.0,10,http://www.jstor.org/stable/2867034,Yar Slavutych,Folger Shakespeare Library,eng,108,109,NaN,981,2,unigram; bigram; trigram
1497,http://www.jstor.org/stable/2871079,[H],Shakespeare Quarterly,1964,NaN,article,jstor,1964-01-01,NaN,15,http://www.jstor.org/stable/2871079,NaN,Folger Shakespeare Library,eng,88,112,NaN,13450,25,unigram; bigram; trigram
1498,http://www.jstor.org/stable/2868190,Review Article,Shakespeare Quarterly,1963,NaN,article,jstor,1963-10-01,4.0,14,http://www.jstor.org/stable/2868190,Thomas Pyles,Folger Shakespeare Library,eng,469,470,NaN,573,2,unigram; bigram; trigram
1499,http://www.jstor.org/stable/2866411,Review Article,Shakespeare Quarterly,1955,NaN,article,jstor,1955-04-01,2.0,6,http://www.jstor.org/stable/2866411,S. Thomas,Folger Shakespeare Library,eng,192,192,NaN,242,1,unigram; bigram; trigram

In the code cell below, can you set the rows to display to 30?

Use a Pandas method to explore the dataframe. How many rows does it have? How many columns does it have? What is the data type of the data in each column?

In [10]:
shake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1500 non-null   object
 1   title               1500 non-null   object
 2   isPartOf            1500 non-null   object
 3   publicationYear     1500 non-null   int64
 4   doi                 0 non-null      float64
 5   docType             1500 non-null   object
 6   provider            1500 non-null   object
 7   datePublished       1500 non-null   object
 8   issueNumber         1467 non-null   float64
 9   volumeNumber        1500 non-null   int64
 10  url                 1500 non-null   object
 11  creator             1209 non-null   object
 12  publisher           1500 non-null   object
 13  language            1500 non-null   object
 14  pageStart           1443 non-null   object
 15  pageEnd             1443 non-null   object
 16  placeOfPublication  0 non-null      float64
 17  wordCount           1500 non-null   int64
 18  pageCount           1500 non-null   int64
 19  outputFormat        1500 non-null   object
dtypes: float64(3), int64(4), object(13)
memory usage: 234.5+ KB

## Filter dataframe
We have learned how to use `.loc` and `.iloc` to select part of a dataframe in [Pandas 1](./pandas-1.ipynb). We will learn more ways to do data filtering in this section.
### Work with missing values
It is a common case that datasets have missing values. As you may have already noticed, blank cells in a CSV file show up as NaN in a Pandas DataFrame. For example, in our dataset, the `Acquiring Institution` column gives the name when a failed bank was acquired by another institution and is empty otherwise.

In [11]:
# Use isna() to check whether a dataframe has missing values
df.isna()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
543,False,False,False,False,False,False,False
544,False,False,False,False,False,False,False
545,False,False,False,False,False,False,False
546,False,False,False,False,False,False,False
547,False,False,False,False,True,False,False
548,False,False,False,False,True,False,False
549,False,False,False,False,False,False,False
550,False,False,False,False,False,False,False
551,False,False,False,False,True,False,False
552,False,False,False,False,False,False,False
553,False,False,False,False,True,False,False
554,False,False,False,False,False,False,False
555,False,False,False,False,False,False,False
556,False,False,False,False,False,False,False
557,False,False,False,False,False,False,False
558,False,False,False,False,False,False,False
559,False,False,False,False,False,False,False
560,False,False,False,False,False,False,False
561,False,False,False,False,False,False,False
562,False,False,False,False,False,False,False

In [12]:
# Use isna() to check whether a Series has missing values
df['Acquiring Institution'].isna()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
       ...
543    False
544    False
545    False
546    False
547     True
548     True
549    False
550    False
551     True
552    False
553     True
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
Name: Acquiring Institution, Length: 563, dtype: bool

We can use `.dropna()` method to remove rows or columns with missing values.

In [13]:
# Use .dropna() to remove all rows with at least one missing value
df.dropna() # no argument passed in

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519
...,...,...,...,...,...,...,...
538,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07,10000
539,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04,4665
540,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,4664
541,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,4663
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [14]:
# Use .dropna() to remove all rows with at least one missing value
df.dropna(axis=0) # Set the axis to 0

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519
...,...,...,...,...,...,...,...
538,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07,10000
539,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04,4665
540,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,4664
541,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,4663
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [15]:
# Use .dropna() to remove all rows with at least one missing value
df.dropna(axis='rows') # Set the axis to 'rows'

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519
...,...,...,...,...,...,...,...
538,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07,10000
539,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04,4665
540,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,4664
541,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,4663
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [16]:
# Use .dropna() to remove all columns with at least one missing value
df.dropna(axis=1) # set the axis to 1

,Bank Name,City,State,Cert,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,29-Apr-16,10519
...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,17-Dec-02,4659
547,Bank of Alamo,Alamo,TN,9961,8-Nov-02,4658
548,AmTrade International Bank,Atlanta,GA,33784,30-Sep-02,4657
549,Universal Federal Savings Bank,Chicago,IL,29355,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,26-Jun-02,4656
551,New Century Bank,Shelby Township,MI,34979,28-Mar-02,4655
552,Net 1st National Bank,Boca Raton,FL,26652,1-Mar-02,4654
553,"NextBank, NA",Phoenix,AZ,22314,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,13-Oct-00,4645

In [17]:
# Use .dropna() to remove all columns with at least one missing value
df.dropna(axis='columns') # set the axis to 'columns'

,Bank Name,City,State,Cert,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,29-Apr-16,10519
...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,17-Dec-02,4659
547,Bank of Alamo,Alamo,TN,9961,8-Nov-02,4658
548,AmTrade International Bank,Atlanta,GA,33784,30-Sep-02,4657
549,Universal Federal Savings Bank,Chicago,IL,29355,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,26-Jun-02,4656
551,New Century Bank,Shelby Township,MI,34979,28-Mar-02,4655
552,Net 1st National Bank,Boca Raton,FL,26652,1-Mar-02,4654
553,"NextBank, NA",Phoenix,AZ,22314,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,13-Oct-00,4645

In [18]:
# Use .dropna() to remove all rows that have a missing value in a specific column
df.dropna(subset=['Acquiring Institution'])

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519
...,...,...,...,...,...,...,...
538,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,2-Feb-07,10000
539,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,25-Jun-04,4665
540,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,4664
541,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,4663
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

Sometimes, you would want to maintain the rows and columns that have missing values. However, you would want the values in those cells to be in the same data type as the other cells in the same column. In this way, when you apply a certain function to a column in a dataframe, you will not run into type error. A common practice to deal with this kind of problem is to use the `.fillna()` method.

In [19]:
# Fill the missing values
df['Acquiring Institution'].fillna('No Acquirer')

0                              Equity Bank
1                United Fidelity Bank, fsb
2                           MVB Bank, Inc.
3               Farmers and Merchants Bank
4                          Industrial Bank
5                       Buckeye State Bank
6        Kentucky Farmers Bank Corporation
7                       Legend Bank, N. A.
8                       Royal Savings Bank
9                              Conway Bank
10               United Fidelity Bank, fsb
11     First-Citizens Bank & Trust Company
12                            Whitney Bank
13                       Cache Valley Bank
14                     State Bank of Texas
15     First-Citizens Bank & Trust Company
16                            Today's Bank
17                             United Bank
18     First-Citizens Bank & Trust Company
19              The Bank of Fayette County
                      ...
543                         Earthstar Bank
544                          The Park Bank
545                              Beal Bank
546              Sabine State Bank & Trust
547                            No Acquirer
548                            No Acquirer
549                 Chicago Community Bank
550                     Hudson United Bank
551                            No Acquirer
552                         Bank Leumi USA
553                            No Acquirer
554         The State Bank & Trust Company
555       The Security State Bank of Pecos
556       Israel Discount Bank of New York
557                     Delta Trust & Bank
558                  Superior Federal, FSB
559                      North Valley Bank
560    Southern New Hampshire Bank & Trust
561                Banterra Bank of Marion
562                     Bank of the Orient
Name: Acquiring Institution, Length: 563, dtype: object

### Drop columns or rows
If a certain column or a row is no longer useful in the data analysis, we can drop it from a dataframe.

In [20]:
# Drop a column by setting the columns parameter
df.drop(columns='Fund')

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16
...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00

In [21]:
# Drop a column by setting the axis parameter
df.drop('Fund', axis=1)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16
...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00

In [22]:
# Drop multiple columns by setting the columns parameter
df.drop(columns=['Fund', 'Cert'])

,Bank Name,City,State,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,Equity Bank,23-Oct-20
1,First City Bank of Florida,Fort Walton Beach,FL,"United Fidelity Bank, fsb",16-Oct-20
2,The First State Bank,Barboursville,WV,"MVB Bank, Inc.",3-Apr-20
3,Ericson State Bank,Ericson,NE,Farmers and Merchants Bank,14-Feb-20
4,City National Bank of New Jersey,Newark,NJ,Industrial Bank,1-Nov-19
5,Resolute Bank,Maumee,OH,Buckeye State Bank,25-Oct-19
6,Louisa Community Bank,Louisa,KY,Kentucky Farmers Bank Corporation,25-Oct-19
7,The Enloe State Bank,Cooper,TX,"Legend Bank, N. A.",31-May-19
8,Washington Federal Bank for Savings,Chicago,IL,Royal Savings Bank,15-Dec-17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,Conway Bank,13-Oct-17
10,Fayette County Bank,Saint Elmo,IL,"United Fidelity Bank, fsb",26-May-17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,First-Citizens Bank & Trust Company,5-May-17
12,First NBC Bank,New Orleans,LA,Whitney Bank,28-Apr-17
13,Proficio Bank,Cottonwood Heights,UT,Cache Valley Bank,3-Mar-17
14,Seaway Bank and Trust Company,Chicago,IL,State Bank of Texas,27-Jan-17
15,Harvest Community Bank,Pennsville,NJ,First-Citizens Bank & Trust Company,13-Jan-17
16,Allied Bank,Mulberry,AR,Today's Bank,23-Sep-16
17,The Woodbury Banking Company,Woodbury,GA,United Bank,19-Aug-16
18,First CornerStone Bank,King of Prussia,PA,First-Citizens Bank & Trust Company,6-May-16
19,Trust Company Bank,Memphis,TN,The Bank of Fayette County,29-Apr-16
...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,Earthstar Bank,14-Nov-03
544,First National Bank of Blanchardville,Blanchardville,WI,The Park Bank,9-May-03
545,Southern Pacific Bank,Torrance,CA,Beal Bank,7-Feb-03
546,Farmers Bank of Cheneyville,Cheneyville,LA,Sabine State Bank & Trust,17-Dec-02
547,Bank of Alamo,Alamo,TN,NaN,8-Nov-02
548,AmTrade International Bank,Atlanta,GA,NaN,30-Sep-02
549,Universal Federal Savings Bank,Chicago,IL,Chicago Community Bank,27-Jun-02
550,Connecticut Bank of Commerce,Stamford,CT,Hudson United Bank,26-Jun-02
551,New Century Bank,Shelby Township,MI,NaN,28-Mar-02
552,Net 1st National Bank,Boca Raton,FL,Bank Leumi USA,1-Mar-02
553,"NextBank, NA",Phoenix,AZ,NaN,7-Feb-02
554,Oakwood Deposit Bank Co.,Oakwood,OH,The State Bank & Trust Company,1-Feb-02
555,Bank of Sierra Blanca,Sierra Blanca,TX,The Security State Bank of Pecos,18-Jan-02
556,"Hamilton Bank, NA",Miami,FL,Israel Discount Bank of New York,11-Jan-02
557,Sinclair National Bank,Gravette,AR,Delta Trust & Bank,7-Sep-01
558,"Superior Bank, FSB",Hinsdale,IL,"Superior Federal, FSB",27-Jul-01
559,Malta National Bank,Malta,OH,North Valley Bank,3-May-01
560,First Alliance Bank & Trust Co.,Manchester,NH,Southern New Hampshire Bank & Trust,2-Feb-01
561,National State Bank of Metropolis,Metropolis,IL,Banterra Bank of Marion,14-Dec-00
562,Bank of Honolulu,Honolulu,HI,Bank of the Orient,13-Oct-00

In [23]:
# Drop multiple columns by setting the axis parameter
df.drop(['Fund', 'Cert'], axis=1)

,Bank Name,City,State,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,Equity Bank,23-Oct-20
1,First City Bank of Florida,Fort Walton Beach,FL,"United Fidelity Bank, fsb",16-Oct-20
2,The First State Bank,Barboursville,WV,"MVB Bank, Inc.",3-Apr-20
3,Ericson State Bank,Ericson,NE,Farmers and Merchants Bank,14-Feb-20
4,City National Bank of New Jersey,Newark,NJ,Industrial Bank,1-Nov-19
5,Resolute Bank,Maumee,OH,Buckeye State Bank,25-Oct-19
6,Louisa Community Bank,Louisa,KY,Kentucky Farmers Bank Corporation,25-Oct-19
7,The Enloe State Bank,Cooper,TX,"Legend Bank, N. A.",31-May-19
8,Washington Federal Bank for Savings,Chicago,IL,Royal Savings Bank,15-Dec-17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,Conway Bank,13-Oct-17
10,Fayette County Bank,Saint Elmo,IL,"United Fidelity Bank, fsb",26-May-17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,First-Citizens Bank & Trust Company,5-May-17
12,First NBC Bank,New Orleans,LA,Whitney Bank,28-Apr-17
13,Proficio Bank,Cottonwood Heights,UT,Cache Valley Bank,3-Mar-17
14,Seaway Bank and Trust Company,Chicago,IL,State Bank of Texas,27-Jan-17
15,Harvest Community Bank,Pennsville,NJ,First-Citizens Bank & Trust Company,13-Jan-17
16,Allied Bank,Mulberry,AR,Today's Bank,23-Sep-16
17,The Woodbury Banking Company,Woodbury,GA,United Bank,19-Aug-16
18,First CornerStone Bank,King of Prussia,PA,First-Citizens Bank & Trust Company,6-May-16
19,Trust Company Bank,Memphis,TN,The Bank of Fayette County,29-Apr-16
...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,Earthstar Bank,14-Nov-03
544,First National Bank of Blanchardville,Blanchardville,WI,The Park Bank,9-May-03
545,Southern Pacific Bank,Torrance,CA,Beal Bank,7-Feb-03
546,Farmers Bank of Cheneyville,Cheneyville,LA,Sabine State Bank & Trust,17-Dec-02
547,Bank of Alamo,Alamo,TN,NaN,8-Nov-02
548,AmTrade International Bank,Atlanta,GA,NaN,30-Sep-02
549,Universal Federal Savings Bank,Chicago,IL,Chicago Community Bank,27-Jun-02
550,Connecticut Bank of Commerce,Stamford,CT,Hudson United Bank,26-Jun-02
551,New Century Bank,Shelby Township,MI,NaN,28-Mar-02
552,Net 1st National Bank,Boca Raton,FL,Bank Leumi USA,1-Mar-02
553,"NextBank, NA",Phoenix,AZ,NaN,7-Feb-02
554,Oakwood Deposit Bank Co.,Oakwood,OH,The State Bank & Trust Company,1-Feb-02
555,Bank of Sierra Blanca,Sierra Blanca,TX,The Security State Bank of Pecos,18-Jan-02
556,"Hamilton Bank, NA",Miami,FL,Israel Discount Bank of New York,11-Jan-02
557,Sinclair National Bank,Gravette,AR,Delta Trust & Bank,7-Sep-01
558,"Superior Bank, FSB",Hinsdale,IL,"Superior Federal, FSB",27-Jul-01
559,Malta National Bank,Malta,OH,North Valley Bank,3-May-01
560,First Alliance Bank & Trust Co.,Manchester,NH,Southern New Hampshire Bank & Trust,2-Feb-01
561,National State Bank of Metropolis,Metropolis,IL,Banterra Bank of Marion,14-Dec-00
562,Bank of Honolulu,Honolulu,HI,Bank of the Orient,13-Oct-00

In [24]:
# Drop a row by setting the index parameter
df.drop(index=0)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519
20,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16,10518
...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [25]:
# Drop a row by setting the axis parameter
df.drop(0, axis=0)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519
20,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16,10518
...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [26]:
# Drop multiple rows

Again, if you want the change to take place, you will need to set the parameter `inplace=True`.

In [27]:
# Reset the index after dropping rows
df.reset_index(drop=True)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519
...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

When you explore the Shakespeare dataframe, what did you find about the column `doi`? What did you find about the `placeOfPublication` column? Is there any non-null value in them?

In [28]:
# Drop the columns of doi and the placeofPublication, make the change permanent

### Filter data using conditionals
Conditional selection using `df.loc[]` is a very common method to filter a dataframe. 

You write a filtering condition to run by a target column. The condition then checks, for each cell in the target column, whether it fulfills the condition or not. The results will be returned as a Series of True/False values. The `.loc` indexer then uses this Series to select the rows that have True values. 

Suppose you are interested in the banks that failed since 2000 in the state of Georgia. From the original dataframe, you would like to filter all the rows of the failed banks in Georgia. How do you do it?

In [29]:
# Write a filtering condition
df['State'] == 'GA' # Returns a Series of True/False values for the column 'State'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17      True
18     False
19     False
       ...
543    False
544    False
545    False
546    False
547    False
548     True
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
Name: State, Length: 563, dtype: bool

In [30]:
# Assign the filtering condition to a variable
filt = (df['State'] == 'GA') # Use parenthesis for better reading

In [31]:
# Pass the Series returned by the filtering condition to df.loc[]
df.loc[filt]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
22,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,10516
26,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,10512
34,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,10504
59,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13,10481
61,Douglas County Bank,Douglasville,GA,21649,Hamilton State Bank,26-Apr-13,10476
67,Frontier Bank,LaGrange,GA,16431,HeritageBank of the South,8-Mar-13,10471
72,Hometown Community Bank,Braselton,GA,57928,"CertusBank, National Association",16-Nov-12,10466
83,Jasper Banking Company,Jasper,GA,16240,Stearns Bank N.A.,27-Jul-12,10455
86,First Cherokee State Bank,Woodstock,GA,32711,Community & Southern Bank,20-Jul-12,10450
87,Georgia Trust Bank,Buford,GA,57847,Community & Southern Bank,20-Jul-12,10451
90,Montgomery Bank & Trust,Ailey,GA,19498,Ameris Bank,6-Jul-12,10448
92,Security Exchange Bank,Marietta,GA,35299,Fidelity Bank,15-Jun-12,10446
108,Covenant Bank & Trust,Rock Spring,GA,58068,"Stearns Bank, N.A.",23-Mar-12,10430
110,Global Commerce Bank,Doraville,GA,34046,Metro City Bank,2-Mar-12,10428
112,Central Bank of Georgia,Ellaville,GA,5687,Ameris Bank,24-Feb-12,10426
120,The First State Bank,Stockbridge,GA,19252,Hamilton State Bank,20-Jan-12,10419
126,Community Bank of Rockmart,Rockmart,GA,57860,Century Bank of Georgia,10-Nov-11,10412
131,Community Capital Bank,Jonesboro,GA,57036,State Bank and Trust Company,21-Oct-11,10406
132,Decatur First Bank,Decatur,GA,34392,Fidelity Bank,21-Oct-11,10407
...,...,...,...,...,...,...,...
450,Security Bank of North Metro,Woodstock,GA,57105,State Bank and Trust Company,24-Jul-09,10090
451,Security Bank of North Fulton,Alpharetta,GA,57430,State Bank and Trust Company,24-Jul-09,10089
452,Security Bank of Gwinnett County,Suwanee,GA,57346,State Bank and Trust Company,24-Jul-09,10086
457,First Piedmont Bank,Winder,GA,34594,First American Bank and Trust Company,17-Jul-09,10084
469,Neighborhood Community Bank,Newnan,GA,35285,CharterBank,26-Jun-09,10069
470,Community Bank of West Georgia,Villa Rica,GA,57436,NaN,26-Jun-09,10068
473,Southern Community Bank,Fayetteville,GA,35251,United Community Bank,19-Jun-09,10067
481,"Silverton Bank, NA",Atlanta,GA,26535,NaN,1-May-09,10059
485,American Southern Bank,Kennesaw,GA,57943,Bank of North Georgia,24-Apr-09,10053
490,Omni National Bank,Atlanta,GA,22238,NaN,27-Mar-09,10048
493,FirstCity Bank,Stockbridge,GA,18243,NaN,20-Mar-09,10047
494,Freedom Bank of Georgia,Commerce,GA,57558,Northeast Georgia Bank,6-Mar-09,10044
504,FirstBank Financial Services,McDonough,GA,57017,Regions Bank,6-Feb-09,10036
512,Haven Trust Bank,Duluth,GA,35379,"Branch Banking & Trust Company, (BB&T)",12-Dec-08,10027
513,First Georgia Community Bank,Jackson,GA,34301,United Bank,5-Dec-08,10025
516,Community Bank,Loganville,GA,16490,Bank of Essex,21-Nov-08,10022
520,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.",24-Oct-08,10018
526,Integrity Bank,Alpharetta,GA,35469,Regions Bank,29-Aug-08,10012
537,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,10001
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657

Out of the rows that fulfill the filtering condition, we can further specify which columns to be returned.

In [32]:
# Specify a single column to be returned
df.loc[filt, 'Bank Name']

17          The Woodbury Banking Company
22                   The Bank of Georgia
26     Capitol City Bank & Trust Company
34              Eastside Commercial Bank
59                          Sunrise Bank
61                   Douglas County Bank
67                         Frontier Bank
72               Hometown Community Bank
83                Jasper Banking Company
86             First Cherokee State Bank
87                    Georgia Trust Bank
90               Montgomery Bank & Trust
92                Security Exchange Bank
108                Covenant Bank & Trust
110                 Global Commerce Bank
112              Central Bank of Georgia
120                 The First State Bank
126           Community Bank of Rockmart
131               Community Capital Bank
132                   Decatur First Bank
                     ...
450         Security Bank of North Metro
451        Security Bank of North Fulton
452     Security Bank of Gwinnett County
457                  First Piedmont Bank
469          Neighborhood Community Bank
470       Community Bank of West Georgia
473              Southern Community Bank
481                   Silverton Bank, NA
485               American Southern Bank
490                   Omni National Bank
493                       FirstCity Bank
494              Freedom Bank of Georgia
504         FirstBank Financial Services
512                     Haven Trust Bank
513         First Georgia Community Bank
516                       Community Bank
520                   Alpha Bank & Trust
526                       Integrity Bank
537                              NetBank
548           AmTrade International Bank
Name: Bank Name, Length: 93, dtype: object

Of course, we can select muliple columns to be returned out of the filtered rows.

In [33]:
# Specify multiple columns to be returned
df.loc[filt, ['Bank Name', 'Fund']]

                             Bank Name   Fund
17        The Woodbury Banking Company  10521
22                 The Bank of Georgia  10516
26   Capitol City Bank & Trust Company  10512
34            Eastside Commercial Bank  10504
59                        Sunrise Bank  10481
61                 Douglas County Bank  10476
67                       Frontier Bank  10471
72             Hometown Community Bank  10466
83              Jasper Banking Company  10455
86           First Cherokee State Bank  10450
87                  Georgia Trust Bank  10451
90             Montgomery Bank & Trust  10448
92              Security Exchange Bank  10446
108              Covenant Bank & Trust  10430
110               Global Commerce Bank  10428
112            Central Bank of Georgia  10426
120               The First State Bank  10419
126         Community Bank of Rockmart  10412
131             Community Capital Bank  10406
132                 Decatur First Bank  10407
..                                 ...    ...
450       Security Bank of North Metro  10090
451      Security Bank of North Fulton  10089
452   Security Bank of Gwinnett County  10086
457                First Piedmont Bank  10084
469        Neighborhood Community Bank  10069
470     Community Bank of West Georgia  10068
473            Southern Community Bank  10067
481                 Silverton Bank, NA  10059
485             American Southern Bank  10053
490                 Omni National Bank  10048
493                     FirstCity Bank  10047
494            Freedom Bank of Georgia  10044
504       FirstBank Financial Services  10036
512                   Haven Trust Bank  10027
513       First Georgia Community Bank  10025
516                     Community Bank  10022
520                 Alpha Bank & Trust  10018
526                     Integrity Bank  10012
537                            NetBank  10001
548         AmTrade International Bank   4657

[93 rows x 2 columns]

#### Conjunction of multiple filtering conditions: `&`

Oftentimes, you would want to filter a dataframe based on more complex conditions. For example, suppose you would like to get the banks in GA that were closed between 2008 and 2010. How do you use `df.loc[ ]` to achieve it?

The location of the failed banks is stored in the `State` column. The closing year of the banks is stored in the `Closing Date` column.

In [34]:
# Create the first filtering condition restricting the state
filt1 = (df['State'] == 'GA')

How to get the closing year of the banks? Recall what we have learned in [Pandas 1](./pandas-1.ipynb) about creating a new column based on an old one. How do you extract the closing year out of the column `Closing Date`? We will need to use the `.apply()` method.

In [35]:
# Create a new column storing the closing year of the banks
df['Closing Year'] = df['Closing Date'].apply(lambda r: r.split('-')[2])
df['Closing Year'] = df['Closing Year'].astype(int)

In [36]:
# Create the second filtering condition restricting the closing year
filt2 = (df['Closing Year'] > 7) & (df['Closing Year'] < 11)

With the two filtering conditions, we are ready to extract the banks in GA that failed between 2008 and 2010.

In [37]:
# Use filt1 and filt2 to get the target rows
df.loc[filt1 & filt2]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund,Closing Year
216,"United Americas Bank, N.A.",Atlanta,GA,35065,State Bank and Trust Company,17-Dec-10,10323,10
217,"Appalachian Community Bank, FSB",McCaysville,GA,58495,Peoples Bank of East Tennessee,17-Dec-10,10319,10
218,Chestatee State Bank,Dawsonville,GA,34578,Bank of the Ozarks,17-Dec-10,10320,10
226,Darby Bank & Trust Co.,Vidalia,GA,14580,Ameris Bank,12-Nov-10,10312,10
227,Tifton Banking Company,Tifton,GA,57831,Ameris Bank,12-Nov-10,10313,10
235,The First National Bank of Barnesville,Barnesville,GA,2119,United Bank,22-Oct-10,10304,10
236,The Gordon Bank,Gordon,GA,33904,Morris Bank,22-Oct-10,10305,10
248,The Peoples Bank,Winder,GA,182,Community & Southern Bank,17-Sep-10,10292,10
249,First Commerce Community Bank,Douglasville,GA,57448,Community & Southern Bank,17-Sep-10,10289,10
250,Bank of Ellijay,Ellijay,GA,58197,Community & Southern Bank,17-Sep-10,10287,10
267,Northwest Bank & Trust,Acworth,GA,57658,State Bank and Trust Company,30-Jul-10,10274,10
273,Crescent Bank and Trust Company,Jasper,GA,27559,Renasant Bank,23-Jul-10,10265,10
286,First National Bank,Savannah,GA,34152,"The Savannah Bank, N.A.",25-Jun-10,10251,10
302,Satilla Community Bank,Saint Marys,GA,35114,Ameris Bank,14-May-10,10238,10
331,Unity National Bank,Cartersville,GA,34678,Bank of the Ozarks,26-Mar-10,10208,10
333,McIntosh Commercial Bank,Carrollton,GA,57399,CharterBank,26-Mar-10,10207,10
336,Bank of Hiawassee,Hiawassee,GA,10054,Citizens South Bank,19-Mar-10,10202,10
337,Appalachian Community Bank,Ellijay,GA,33989,Community & Southern Bank,19-Mar-10,10199,10
339,Century Security Bank,Duluth,GA,58104,Bank of Upson,19-Mar-10,10198,10
358,Community Bank and Trust,Cornelia,GA,5702,SCBT National Association,29-Jan-10,10180,10
361,First National Bank of Georgia,Carrollton,GA,16480,Community & Southern Bank,29-Jan-10,10179,10
377,RockBridge Commercial Bank,Atlanta,GA,58315,NaN,18-Dec-09,10164,9
384,The Tattnall Bank,Reidsville,GA,12080,Heritage Bank of the South,4-Dec-09,10153,9
385,First Security National Bank,Norcross,GA,26290,State Bank and Trust Company,4-Dec-09,10157,9
386,The Buckhead Community Bank,Atlanta,GA,34663,State Bank and Trust Company,4-Dec-09,10152,9
395,United Security Bank,Sparta,GA,22286,Ameris Bank,6-Nov-09,10145,9
410,American United Bank,Lawrenceville,GA,57794,Ameris Bank,23-Oct-09,10127,9
416,Georgian Bank,Atlanta,GA,57151,"First Citizens Bank and Trust Company, Inc.",25-Sep-09,10122,9
432,First Coweta Bank,Newnan,GA,57702,United Bank,21-Aug-09,10108,9
433,ebank,Atlanta,GA,34682,"Stearns Bank, N.A.",21-Aug-09,10107,9
447,Security Bank of Jones County,Gray,GA,8486,State Bank and Trust Company,24-Jul-09,10088,9
448,Security Bank of Houston County,Perry,GA,27048,State Bank and Trust Company,24-Jul-09,10087,9
449,Security Bank of Bibb County,Macon,GA,27367,State Bank and Trust Company,24-Jul-09,10085,9
450,Security Bank of North Metro,Woodstock,GA,57105,State Bank and Trust Company,24-Jul-09,10090,9
451,Security Bank of North Fulton,Alpharetta,GA,57430,State Bank and Trust Company,24-Jul-09,10089,9
452,Security Bank of Gwinnett County,Suwanee,GA,57346,State Bank and Trust Company,24-Jul-09,10086,9
457,First Piedmont Bank,Winder,GA,34594,First American Bank and Trust Company,17-Jul-09,10084,9
469,Neighborhood Community Bank,Newnan,GA,35285,CharterBank,26-Jun-09,10069,9
470,Community Bank of West Georgia,Villa Rica,GA,57436,NaN,26-Jun-09,10068,9
473,Southern Community Bank,Fayetteville,GA,35251,United Community Bank,19-Jun-09,10067,9
481,"Silverton Bank, NA",Atlanta,GA,26535,NaN,1-May-09,10059,9
485,American Southern Bank,Kennesaw,GA,57943,Bank of North Georgia,24-Apr-09,10053,9
490,Omni National Bank,Atlanta,GA,22238,NaN,27-Mar-09,10048,9
493,FirstCity Bank,Stockbridge,GA,18243,NaN,20-Mar-09,10047,9
494,Freedom Bank of Georgia,Commerce,GA,57558,Northeast Georgia Bank,6-Mar-09,10044,9
504,FirstBank Financial Services,McDonough,GA,57017,Regions Bank,6-Feb-09,10036,9
512,Haven Trust Bank,Duluth,GA,35379,"Branch Banking & Trust Company, (BB&T)",12-Dec-08,10027,8
513,First Georgia Community Bank,Jackson,GA,34301,United Bank,5-Dec-08,10025,8
516,Community Bank,Loganville,GA,16490,Bank of Essex,21-Nov-08,10022,8
520,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.",24-Oct-08,10018,8
526,Integrity Bank,Alpharetta,GA,35469,Regions Bank,29-Aug-08,10012,8

Note that when we extract rows that fulfill multiple conditions, we use `&` in Pandas, not `and`. If you replace `&` with `and`, you will get an error. This is different than what we have learned about boolean operators in [Python basics 2](./python-basics-2.ipynb). In Python, we use `and`, `or` and `not`. In Pandas, we use `&`, `|` and `~` intead. 

|Pandas Operator|Boolean|Requires|
|---|---|---|
|&|and|All required to `True`|
|\||or|If any are `True`|
|~|not|The opposite|

Although we use different symbols for these boolean operators, the truth table for them stays the same. For a quick review of the truth table, see [Python basics 2](./python-basics-2.ipynb).

#### Disjunction of multiple filtering conditions: `|`
Suppose you would like to take a look at all the failed banks in the state of Georgia or the state of New York. How do you use `df.loc[ ]` to get the target rows?

In [38]:
# Create the two filtering conditions restricting the state to GA and NY
filt1 = (df['State'] == 'GA')
filt2 = (df['State'] == 'NY')

In [39]:
# Use filt1 and filt2 to get the target rows
df.loc[filt1|filt2]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund,Closing Year
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
22,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,10516,15
26,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,10512,15
34,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,10504,14
59,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13,10481,13
61,Douglas County Bank,Douglasville,GA,21649,Hamilton State Bank,26-Apr-13,10476,13
67,Frontier Bank,LaGrange,GA,16431,HeritageBank of the South,8-Mar-13,10471,13
72,Hometown Community Bank,Braselton,GA,57928,"CertusBank, National Association",16-Nov-12,10466,12
83,Jasper Banking Company,Jasper,GA,16240,Stearns Bank N.A.,27-Jul-12,10455,12
86,First Cherokee State Bank,Woodstock,GA,32711,Community & Southern Bank,20-Jul-12,10450,12
87,Georgia Trust Bank,Buford,GA,57847,Community & Southern Bank,20-Jul-12,10451,12
90,Montgomery Bank & Trust,Ailey,GA,19498,Ameris Bank,6-Jul-12,10448,12
92,Security Exchange Bank,Marietta,GA,35299,Fidelity Bank,15-Jun-12,10446,12
108,Covenant Bank & Trust,Rock Spring,GA,58068,"Stearns Bank, N.A.",23-Mar-12,10430,12
110,Global Commerce Bank,Doraville,GA,34046,Metro City Bank,2-Mar-12,10428,12
112,Central Bank of Georgia,Ellaville,GA,5687,Ameris Bank,24-Feb-12,10426,12
120,The First State Bank,Stockbridge,GA,19252,Hamilton State Bank,20-Jan-12,10419,12
126,Community Bank of Rockmart,Rockmart,GA,57860,Century Bank of Georgia,10-Nov-11,10412,11
131,Community Capital Bank,Jonesboro,GA,57036,State Bank and Trust Company,21-Oct-11,10406,11
132,Decatur First Bank,Decatur,GA,34392,Fidelity Bank,21-Oct-11,10407,11
...,...,...,...,...,...,...,...,...
452,Security Bank of Gwinnett County,Suwanee,GA,57346,State Bank and Trust Company,24-Jul-09,10086,9
453,Waterford Village Bank,Williamsville,NY,58065,"Evans Bank, N.A.",24-Jul-09,10091,9
457,First Piedmont Bank,Winder,GA,34594,First American Bank and Trust Company,17-Jul-09,10084,9
469,Neighborhood Community Bank,Newnan,GA,35285,CharterBank,26-Jun-09,10069,9
470,Community Bank of West Georgia,Villa Rica,GA,57436,NaN,26-Jun-09,10068,9
473,Southern Community Bank,Fayetteville,GA,35251,United Community Bank,19-Jun-09,10067,9
481,"Silverton Bank, NA",Atlanta,GA,26535,NaN,1-May-09,10059,9
485,American Southern Bank,Kennesaw,GA,57943,Bank of North Georgia,24-Apr-09,10053,9
490,Omni National Bank,Atlanta,GA,22238,NaN,27-Mar-09,10048,9
493,FirstCity Bank,Stockbridge,GA,18243,NaN,20-Mar-09,10047,9
494,Freedom Bank of Georgia,Commerce,GA,57558,Northeast Georgia Bank,6-Mar-09,10044,9
504,FirstBank Financial Services,McDonough,GA,57017,Regions Bank,6-Feb-09,10036,9
512,Haven Trust Bank,Duluth,GA,35379,"Branch Banking & Trust Company, (BB&T)",12-Dec-08,10027,8
513,First Georgia Community Bank,Jackson,GA,34301,United Bank,5-Dec-08,10025,8
516,Community Bank,Loganville,GA,16490,Bank of Essex,21-Nov-08,10022,8
520,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.",24-Oct-08,10018,8
526,Integrity Bank,Alpharetta,GA,35469,Regions Bank,29-Aug-08,10012,8
537,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,10001,7
540,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,4664,4
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2

If you would like to get the data of the failed banks in the following six states --- Georgia, New York, New Jersey, Florida, California and West Virginia, you will not want to write six filtering conditions and use the vertical bar `|` to connect all of them. That would be too repetitive. In this case, we can use the `.isin()` method to create a filtering condition.

In [40]:
# Create a list of the states
states = ['GA', 'NY', 'NJ', 'FL', 'CA', 'WV']

In [41]:
# Create a filtering condition
filt = (df['State'].isin(states))

In [42]:
# Use filt to find all failed banks in the six states
df.loc[filt]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund,Closing Year
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,17
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
22,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,10516,15
26,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,10512,15
28,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,16-Jan-15,10510,15
30,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.",7-Nov-14,10508,14
34,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,10504,14
36,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association",20-Jun-14,10501,14
48,Bank of Jackson County,Graceville,FL,14794,First Federal Bank of Florida,30-Oct-13,10490,13
54,First Community Bank of Southwest Florida (als...,Fort Myers,FL,34943,C1 Bank,2-Aug-13,10484,13
59,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13,10481,13
61,Douglas County Bank,Douglasville,GA,21649,Hamilton State Bank,26-Apr-13,10476,13
63,Chipola Community Bank,Marianna,FL,58034,First Federal Bank of Florida,19-Apr-13,10473,13
64,Heritage Bank of North Florida,Orange Park,FL,26680,FirstAtlantic Bank,19-Apr-13,10475,13
67,Frontier Bank,LaGrange,GA,16431,HeritageBank of the South,8-Mar-13,10471,13
72,Hometown Community Bank,Braselton,GA,57928,"CertusBank, National Association",16-Nov-12,10466,12
74,Heritage Bank of Florida,Lutz,FL,35009,Centennial Bank,2-Nov-12,10465,12
...,...,...,...,...,...,...,...,...
513,First Georgia Community Bank,Jackson,GA,34301,United Bank,5-Dec-08,10025,8
514,PFF Bank & Trust,Pomona,CA,28344,"U.S. Bank, N.A.",21-Nov-08,10024,8
515,Downey Savings & Loan,Newport Beach,CA,30968,"U.S. Bank, N.A.",21-Nov-08,10023,8
516,Community Bank,Loganville,GA,16490,Bank of Essex,21-Nov-08,10022,8
517,Security Pacific Bank,Los Angeles,CA,23595,Pacific Western Bank,7-Nov-08,10020,8
519,Freedom Bank,Bradenton,FL,57930,Fifth Third Bank,31-Oct-08,10019,8
520,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.",24-Oct-08,10018,8
524,Ameribank,Northfork,WV,6782,The Citizens Savings Bank ********** Pioneer C...,19-Sep-08,10014,8
526,Integrity Bank,Alpharetta,GA,35469,Regions Bank,29-Aug-08,10012,8
528,First Priority Bank,Bradenton,FL,57523,SunTrust Bank,1-Aug-08,10010,8
529,"First Heritage Bank, NA",Newport Beach,CA,57961,Mutual of Omaha Bank,25-Jul-08,10009,8
531,IndyMac Bank,Pasadena,CA,29730,"OneWest Bank, FSB",11-Jul-08,10007,8
537,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,10001,7
540,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,4664,4
541,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,4663,4
542,Dollar Savings Bank,Newark,NJ,31330,NaN,14-Feb-04,6006,4
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,3
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2

#### Negation of a certain condition:`~`
Now, suppose you would like to filter all the failed banks that were **not** closed in 2008. How do you do it?

In [43]:
# Create the filtering condition restricting the closing year to non-2008
filt = (~(df['Closing Year'] == 8))

In [44]:
# Use the filtering condition to get the target rows with specified columns
df.loc[filt, ['Bank Name', 'City']]

                                             Bank Name                City
0                                    Almena State Bank              Almena
1                           First City Bank of Florida   Fort Walton Beach
2                                 The First State Bank       Barboursville
3                                   Ericson State Bank             Ericson
4                     City National Bank of New Jersey              Newark
5                                        Resolute Bank              Maumee
6                                Louisa Community Bank              Louisa
7                                 The Enloe State Bank              Cooper
8                  Washington Federal Bank for Savings             Chicago
9      The Farmers and Merchants State Bank of Argonia             Argonia
10                                 Fayette County Bank          Saint Elmo
11   Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
12                                      First NBC Bank         New Orleans
13                                       Proficio Bank  Cottonwood Heights
14                       Seaway Bank and Trust Company             Chicago
15                              Harvest Community Bank          Pennsville
16                                         Allied Bank            Mulberry
17                        The Woodbury Banking Company            Woodbury
18                              First CornerStone Bank     King of Prussia
19                                  Trust Company Bank             Memphis
..                                                 ...                 ...
543                               Pulaski Savings Bank        Philadelphia
544              First National Bank of Blanchardville      Blanchardville
545                              Southern Pacific Bank            Torrance
546                        Farmers Bank of Cheneyville         Cheneyville
547                                      Bank of Alamo               Alamo
548                         AmTrade International Bank             Atlanta
549                     Universal Federal Savings Bank             Chicago
550                       Connecticut Bank of Commerce            Stamford
551                                   New Century Bank     Shelby Township
552                              Net 1st National Bank          Boca Raton
553                                       NextBank, NA             Phoenix
554                           Oakwood Deposit Bank Co.             Oakwood
555                              Bank of Sierra Blanca       Sierra Blanca
556                                  Hamilton Bank, NA               Miami
557                             Sinclair National Bank            Gravette
558                                 Superior Bank, FSB            Hinsdale
559                                Malta National Bank               Malta
560                    First Alliance Bank & Trust Co.          Manchester
561                  National State Bank of Metropolis          Metropolis
562                                   Bank of Honolulu            Honolulu

[538 rows x 2 columns]

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

Let's do some filtering!

From the Shakespeare dataframe, get the title and the creator of the documents published between August of 2000 **and** May of 2010.

From the Shakespeare dataframe, get the creator of the documents shorter than 10 pages **or** longer than 50 pages.

From the Shakespeare dataframe, get the title of the documents whose publisher is **not** Folger Shakespeare Library.

## Update a dataframe
We can make changes to the data in a dataframe.
### Update headers
We can update the column names of a dataframe.

In [45]:
# Take a look at the columns
df.columns

Index(['Bank Name', 'City', 'State', 'Cert', 'Acquiring Institution',
       'Closing Date', 'Fund', 'Closing Year'],
      dtype='object')

In [46]:
# Access a column using the `.ColumnName` attribute
df.City

0                  Almena
1       Fort Walton Beach
2           Barboursville
3                 Ericson
4                  Newark
5                  Maumee
6                  Louisa
7                  Cooper
8                 Chicago
9                 Argonia
10             Saint Elmo
11              Milwaukee
12            New Orleans
13     Cottonwood Heights
14                Chicago
15             Pennsville
16               Mulberry
17               Woodbury
18        King of Prussia
19                Memphis
              ...
543          Philadelphia
544        Blanchardville
545              Torrance
546           Cheneyville
547                 Alamo
548               Atlanta
549               Chicago
550              Stamford
551       Shelby Township
552            Boca Raton
553               Phoenix
554               Oakwood
555         Sierra Blanca
556                 Miami
557              Gravette
558              Hinsdale
559                 Malta
560            Manchester
561            Metropolis
562              Honolulu
Name: City, Length: 563, dtype: object

In [47]:
# If a column name has a space in it
df.Bank Name

SyntaxError: invalid syntax (3808230729.py, line 2)

We could replace all the spaces in column names with an `_`. In this way, we can access all the columns using the `.ColumnName` attribute.

In [48]:
# Replace spaces in column names with underscores
df.columns = df.columns.str.replace(' ', '_')
df

,Bank_Name,City,State,Cert,Acquiring_Institution,Closing_Date,Fund,Closing_Year
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528,17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527,17
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526,17
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525,17
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524,17
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,17
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522,16
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520,16
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519,16
...,...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662,3
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661,3
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,3
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659,2
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658,2
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005,2
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656,2
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655,2
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

You could also change the case of the headers.

In [49]:
# Change all headers to upper case
df.columns = df.columns.str.upper()
df

,BANK_NAME,CITY,STATE,CERT,ACQUIRING_INSTITUTION,CLOSING_DATE,FUND,CLOSING_YEAR
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528,17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527,17
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526,17
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525,17
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524,17
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,17
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522,16
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520,16
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519,16
...,...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662,3
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661,3
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,3
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659,2
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658,2
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005,2
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656,2
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655,2
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

We have been updating the column names all at one time. However, oftentimes we just want to update specific columns. In this case, we could use the `df.rename()` method and pass in a **dictionary** where the keys are the original column names and the values are the new column names.

In [50]:
# Change the column name of 'CERT' to 'CERTIFICATE_NUM'
df.rename(columns = {'CERT':'CERTIFICATE_NUM'})

,BANK_NAME,CITY,STATE,CERTIFICATE_NUM,ACQUIRING_INSTITUTION,CLOSING_DATE,FUND,CLOSING_YEAR
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528,17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527,17
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526,17
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525,17
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524,17
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,17
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522,16
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520,16
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519,16
...,...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662,3
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661,3
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,3
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659,2
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658,2
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005,2
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656,2
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655,2
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

To change multiple column names, we just pass in a dictionary to `df.rename()` with multiple key:value pairs.

In [51]:
# Change multiple column names
df.rename(columns = {'CERT':'CERTIFICATE_NUM', 'FUND':'FUND_IN_THOUSAND'})

,BANK_NAME,CITY,STATE,CERTIFICATE_NUM,ACQUIRING_INSTITUTION,CLOSING_DATE,FUND_IN_THOUSAND,CLOSING_YEAR
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528,17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527,17
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526,17
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525,17
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524,17
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,17
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522,16
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520,16
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519,16
...,...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662,3
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661,3
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,3
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659,2
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658,2
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005,2
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656,2
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655,2
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

In [52]:
# Make the change permanent
df.rename(columns = {'CERT':'CERTIFICATE_NUM', 'FUND':'FUND_IN_THOUSAND'}, inplace = True)

### Update rows 
How to update the values in a row? In [Pandas 1](./pandas-1.ipynb), we have learned how to look up values using `.loc` and `.iloc`.

To update a row, we could use `.loc` or `.iloc` to locate it and then assign the new values to that row.

In [53]:
# Change an entire row
df.loc[0] = ['Almena State Bank', 'Almena', 'KS', 15426, 'Equity Bank', '23-Oct-20', 10000, 20]

It is a pain to enter all the values for each column of a row when we are actually only update some of the values in a row. If the dataframe has hundred even thousands of columns, it will take too much time. Also, manually entering all the values is prone to mistake.

In [54]:
# Change a specific value in a row
df.loc[0, 'FUND_IN_THOUSAND'] = 10001
df

,BANK_NAME,CITY,STATE,CERTIFICATE_NUM,ACQUIRING_INSTITUTION,CLOSING_DATE,FUND_IN_THOUSAND,CLOSING_YEAR
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10001,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528,17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527,17
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526,17
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525,17
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524,17
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,17
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522,16
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520,16
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519,16
...,...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662,3
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661,3
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,3
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659,2
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658,2
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005,2
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656,2
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655,2
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

We could change multiple specific values in a row using `.loc[]`.

In [55]:
# Change multiple values in a row
df.loc[0, ['BANK_NAME', 'FUND_IN_THOUSAND']] = ['Almena Bank', 12000]
df

,BANK_NAME,CITY,STATE,CERTIFICATE_NUM,ACQUIRING_INSTITUTION,CLOSING_DATE,FUND_IN_THOUSAND,CLOSING_YEAR
0,Almena Bank,Almena,KS,15426,Equity Bank,23-Oct-20,12000,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528,17
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527,17
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526,17
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525,17
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524,17
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,17
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522,16
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520,16
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519,16
...,...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662,3
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661,3
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,3
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659,2
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658,2
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005,2
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656,2
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655,2
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

### Update columns
There are multiple methods we can use to update columns: `.apply()`, `.map()` and `replace()`.

In [56]:
# Use apply to update the column CLOSING_YEAR
df['CLOSING_YEAR'] = df['CLOSING_YEAR'].apply(lambda r: r+2000)
df

,BANK_NAME,CITY,STATE,CERTIFICATE_NUM,ACQUIRING_INSTITUTION,CLOSING_DATE,FUND_IN_THOUSAND,CLOSING_YEAR
0,Almena Bank,Almena,KS,15426,Equity Bank,23-Oct-20,12000,2020
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,2020
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,2020
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,2020
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,2019
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,2019
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,2019
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,2019
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,2017
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,2017
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528,2017
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527,2017
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526,2017
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525,2017
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524,2017
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,2017
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522,2016
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,2016
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520,2016
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519,2016
...,...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662,2003
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661,2003
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,2003
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659,2002
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658,2002
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2002
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005,2002
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656,2002
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655,2002
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2002
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2002
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2002
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2002
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2002
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,2001
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,2001
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,2001
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,2001
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,2000
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,2000

In [57]:
# Use .map() to update specific values in a column
df['BANK_NAME'].map({'Almena Bank': 'Almena State Bank', 'The First State Bank': 'West Virginia Bank'})

0       Almena State Bank
1                     NaN
2      West Virginia Bank
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7                     NaN
8                     NaN
9                     NaN
10                    NaN
11                    NaN
12                    NaN
13                    NaN
14                    NaN
15                    NaN
16                    NaN
17                    NaN
18                    NaN
19                    NaN
              ...
543                   NaN
544                   NaN
545                   NaN
546                   NaN
547                   NaN
548                   NaN
549                   NaN
550                   NaN
551                   NaN
552                   NaN
553                   NaN
554                   NaN
555                   NaN
556                   NaN
557                   NaN
558                   NaN
559                   NaN
560                   NaN
561                   NaN
562                   NaN
Name: BANK_NAME, Length: 563, dtype: object

In [58]:
# Use .replace() to update specific values in a column while maintaining the rest
df['BANK_NAME'].replace({'Almena Bank': 'Almena State Bank', 'The First State Bank': 'West Virginia Bank'})

0                                      Almena State Bank
1                             First City Bank of Florida
2                                     West Virginia Bank
3                                     Ericson State Bank
4                       City National Bank of New Jersey
5                                          Resolute Bank
6                                  Louisa Community Bank
7                                   The Enloe State Bank
8                    Washington Federal Bank for Savings
9        The Farmers and Merchants State Bank of Argonia
10                                   Fayette County Bank
11     Guaranty Bank, (d/b/a BestBank in Georgia & Mi...
12                                        First NBC Bank
13                                         Proficio Bank
14                         Seaway Bank and Trust Company
15                                Harvest Community Bank
16                                           Allied Bank
17                          The Woodbury Banking Company
18                                First CornerStone Bank
19                                    Trust Company Bank
                             ...
543                                 Pulaski Savings Bank
544                First National Bank of Blanchardville
545                                Southern Pacific Bank
546                          Farmers Bank of Cheneyville
547                                        Bank of Alamo
548                           AmTrade International Bank
549                       Universal Federal Savings Bank
550                         Connecticut Bank of Commerce
551                                     New Century Bank
552                                Net 1st National Bank
553                                         NextBank, NA
554                             Oakwood Deposit Bank Co.
555                                Bank of Sierra Blanca
556                                    Hamilton Bank, NA
557                               Sinclair National Bank
558                                   Superior Bank, FSB
559                                  Malta National Bank
560                      First Alliance Bank & Trust Co.
561                    National State Bank of Metropolis
562                                     Bank of Honolulu
Name: BANK_NAME, Length: 563, dtype: object

We can also use a filtering condition to locate the target columns and then make changes. 

For example, we can locate all the banks that failed in 2020 and change their closing date to 'Recent'.

In [59]:
# Make a filtering condition to get the banks that failed in 2020
filt = (df['CLOSING_YEAR'] == 2020)

In [60]:
# Use the filtering condition to locate the columns and update them
df.loc[filt, 'CLOSING_DATE'] = 'Recent'
df

,BANK_NAME,CITY,STATE,CERTIFICATE_NUM,ACQUIRING_INSTITUTION,CLOSING_DATE,FUND_IN_THOUSAND,CLOSING_YEAR
0,Almena Bank,Almena,KS,15426,Equity Bank,Recent,12000,2020
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",Recent,10537,2020
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",Recent,10536,2020
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,Recent,10535,2020
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,2019
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,2019
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,2019
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,2019
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,2017
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,2017
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528,2017
11,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,10527,2017
12,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,10526,2017
13,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,10525,2017
14,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,10524,2017
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,2017
16,Allied Bank,Mulberry,AR,91,Today's Bank,23-Sep-16,10522,2016
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,2016
18,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,10520,2016
19,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16,10519,2016
...,...,...,...,...,...,...,...,...
543,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,14-Nov-03,4662,2003
544,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,9-May-03,4661,2003
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,2003
546,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,17-Dec-02,4659,2002
547,Bank of Alamo,Alamo,TN,9961,NaN,8-Nov-02,4658,2002
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2002
549,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,27-Jun-02,6005,2002
550,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,26-Jun-02,4656,2002
551,New Century Bank,Shelby Township,MI,34979,NaN,28-Mar-02,4655,2002
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2002
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2002
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2002
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2002
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2002
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,2001
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,2001
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,2001
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,2001
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,2000
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,2000

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

Make all column names in the Shakespeare dataframe upper case.

Get all documents whose current title is 'Review Article' and change their title to 'Review'.

Get all documents whose word count exceeds 5000 and change their word count to the string 'Long article'.

___
## Lesson Complete

Congratulations! You have completed *Pandas 2*.

### Start Next Lesson: [Pandas 3 ->](./pandas-3.ipynb)

### Exercise Solutions
Here are a few solutions for exercises in this lesson.

In [61]:
# Read in the metadata
shake = pd.read_csv(metadata)

In [62]:
# Set the rows to display to 30
pd.set_option('display.max_columns', 20)

In [63]:
# Explore the dataframe
shake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1500 non-null   object
 1   title               1500 non-null   object
 2   isPartOf            1500 non-null   object
 3   publicationYear     1500 non-null   int64
 4   doi                 0 non-null      float64
 5   docType             1500 non-null   object
 6   provider            1500 non-null   object
 7   datePublished       1500 non-null   object
 8   issueNumber         1467 non-null   float64
 9   volumeNumber        1500 non-null   int64
 10  url                 1500 non-null   object
 11  creator             1209 non-null   object
 12  publisher           1500 non-null   object
 13  language            1500 non-null   object
 14  pageStart           1443 non-null   object
 15  pageEnd             1443 non-null   object
 16  placeOfPublication  0 non-null      float64
 17  wordCount           1500 non-null   int64
 18  pageCount           1500 non-null   int64
 19  outputFormat        1500 non-null   object
dtypes: float64(3), int64(4), object(13)
memory usage: 234.5+ KB

In [64]:
# Drop the columns of doi and the placeofPublication, make the change permanent
shake.drop(columns=['doi', 'placeOfPublication'], inplace=True)

In [66]:
# get the title and the creator of the documents published between 2000 and 2010
filt = (shake['publicationYear']>1999) & (shake['publicationYear']<2011)
shake.loc[filt, ['title', 'creator']]

,title,creator
0,Fragments of Nationalism in Troilus and Cressida,Matthew A. Greenfield
15,Citizens' Games: Differentiating Collaboration...,Nina Levine
26,Review Article,Heather Hirschfeld
28,Review Article,Christa Jansohn
31,The Alcestis and the Statue Scene in the Winte...,Sarah Dewar-Watson
35,Review Article,Michelle Ephraim
39,Review Article,Jane Donawerth
40,"When Theaters Were Bear-Gardens; Or, What's at...",Jason Scott-Warren
48,Back Matter,NaN
51,Review Article,Arthur F. Kinney
73,Back Matter,NaN
74,"""Cymbeline"" at Santa Cruz",Stephen Orgel
81,Review Article,Anston Bosman
90,John Shakespeare: A Papist or Just Penniless?,Robert Bearman
91,Review Article,Katharine A. Craik
123,Review Article,Christy Desmet
124,Review Article,Garrett A. Sullivan Jr.
148,Review Article,Peter Thomson
151,"The Othello Quarto and the ""Foul-Paper"" Hypoth...",Scott McMillin
162,Review Article,Donald K. Hedrick
...,...,...
1295,Review Article,Naomi Conn Liebler
1297,Review Article,Philippa Berry
1318,Review Article,Jay L. Halio
1321,Front Matter,NaN
1326,Review Article,Lars Engle
1329,Front Matter,NaN
1330,Review Article,Laurie E. Osborne
1338,Review Article,Bruce R. Smith
1351,Review Article,Goran V. Stanivukovic
1353,Review Article,Evelyn Tribble
1355,Review Article,Mary C. Fuller
1356,"The Tragedians of the City? Q1 ""Hamlet"" and th...",Paul Menzer
1364,Front Matter,NaN
1369,"""This SympathizÃ¨d One Day's Error"": Genre, Rep...",Martine van Elk
1382,Review Article,Roy Flannagan
1384,Review Article,Susan Carlson
1394,Review Article,Jonathan Gil Harris
1452,Review Article,Georgianna Ziegler
1474,Review Article,Margarida Gandara Rauen
1488,Review Article,Edmund Valentine Campos

In [67]:
# get the creator of the documents shorter than 10 pages or longer than 50 pages
filt = (shake['pageCount']<10)|(shake['pageCount']>50)
shake.loc[filt, 'creator']

2                                 R. G. Cox
3                              Darryl Gless
4                           Marion O'Connor
5                    Jeanne Addison Roberts
7                          Wilhelm Hortmann
8                        A. H. R. Fairchild
9                              John W. Velz
10                         Anna Maria CrinÃ²
11                                      NaN
13                                      NaN
16                        Alexander Leggatt
17                        Ian Forbes Fraser
18                            Russ McDonald
19                                      NaN
20                             E. G. Rogers
21                            Bonamy DobrÃ©e
22                                      NaN
23                              David Frost
24                           G. B. Harrison
25                     Louisa Foulke Newlin
                       ...
1476                                    NaN
1477                       Marvin Rosenberg
1478    Harrison T. Meserole; John B. Smith
1481                         Akihiro Yamada
1482               Deborah T. Curren-Aquino
1483                                    NaN
1484                            Carol Rosen
1486                           Robert Loper
1487                 Jeanne Addison Roberts
1488                Edmund Valentine Campos
1489                      Claire McGlinchee
1490                            David Riggs
1491                  George Burke Johnston
1492                     Frankie Rubinstein
1493                 George Walton Williams
1494                      M. Lindsay Kaplan
1495                      T. H. Howard-Hill
1496                          Yar Slavutych
1498                           Thomas Pyles
1499                              S. Thomas
Name: creator, Length: 1258, dtype: object

In [68]:
# get the title of the documents whose publisher is not Folger Shakespeare Library
filt = (shake['publisher']=='Folger Shakespeare Library')
shake.loc[~filt, 'title']

48                                            Back Matter
118     Bibliography: Shakespeare: Annotated World Bib...
257     Bibliography: Shakespeare: Annotated World Bib...
287                                          Front Matter
366     BIBLIOGRAPHY: World Shakespeare Bibliography 1992
664                                          Front Matter
1089                                         Front Matter
1100    BIBLIOGRAPHY: World Shakespeare Bibliography 1993
Name: title, dtype: object

In [69]:
# Make all column names in the Shakespeare dataframe upper case
shake.columns = shake.columns.str.upper()

In [70]:
# Get all documents whose current title is 'Review Article' and change their title to 'Review'
shake.loc[shake['TITLE']=='Review Article', 'TITLE'] = 'Review'

In [71]:
# Get all documents whose word count exceeds 5000 and change their word count to the string 'Long article'
shake.loc[shake['WORDCOUNT']>5000, 'WORDCOUNT'] = 'Long article'