<img align="left" src="https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/CC_BY.png"><br />

This notebook is adapted by Zhuo Chen from the notebooks created by [Nathan Kelber](http://nkelber.com), [William Mattingly](https://datascience.si.edu/people/dr-william-mattingly) and [Melanie Walsh](https://melaniewalsh.org) under [Creative Commons CC BY License](https://creativecommons.org/licenses/by/4.0/)<br />
For questions/comments/improvements, email zhuo.chen@ithaka.org or nathan.kelber@ithaka.org.<br />
___

# Pandas 2

**Description:** This notebook describes how to:
* Create a dataframe from a .csv file
* Filter data 
* Update data in a dataframe

This is the second notebook in a series on learning to use Pandas. 

**Use Case:** For Learners (Detailed explanation, not ideal for researchers)

**Difficulty:** Intermediate

**Knowledge Required:** 
* [Pandas 1](./pandas-1.ipynb)
* Python Basics ([Start Python Basics I](./python-basics-1.ipynb))

**Knowledge Recommended:** 
* [Python Intermediate 2](./python-intermediate-2.ipynb)
* [Python Intermediate 4](./python-intermediate-4.ipynb)

**Completion Time:** 90 minutes

**Data Format:** CSV (.csv)

**Libraries Used:** Pandas

**Research Pipeline:** None
___

In [1]:
### Download the sample file for this Lesson
import urllib.request
url = 'https://ithaka-labs.s3.amazonaws.com/static-files/images/tdm/tdmdocs/failed_bank_since_2000.csv'
urllib.request.urlretrieve(url, './data/' + url.rsplit('/', 1)[-1])
print('Samples files retrieved.')

Samples files retrieved.

## Create a dataframe from a .csv file

In [Pandas 1](./pandas-1.ipynb), we have learned how to create a dataframe by passing a **dictionary** to the `DataFrame` method. We basically entered the data ourselves. 

In real life however, when working with DataFrames, we are usually using a dataset that has been compiled by someone else. Often the data will be in the form of a CSV or Excel file. 

We can convert the data in a .csv file to a Pandas DataFrame using the `.read_csv()` method. We pass in the location of the .csv file.

Use the `**File > Open**` menu above to navigate to the `failed_bank_since_2000.csv` in the `/data` folder. Preview its structure before we load it into a dataframe.

In [2]:
import pandas as pd

In [3]:
# Create a DataFrame `df` from a CSV file
df = pd.read_csv('data/failed_bank_since_2000.csv')
df

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

By default, Pandas displays the first five rows and the last five rows of the dataframe. You can change the display setting using the `set_option` method.

In [4]:
# Change the display setting
pd.set_option('display.min_rows', 20)

In [5]:
# Print out the dataframe
df

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

By convention, a dataframe variable is called `df` but we could give it any valid Python variable name.

In [6]:
# Get some info about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bank Name              563 non-null    object
 1   City                   563 non-null    object
 2   State                  563 non-null    object
 3   Cert                   563 non-null    int64
 4   Acquiring Institution  532 non-null    object
 5   Closing Date           563 non-null    object
 6   Fund                   563 non-null    int64
dtypes: int64(2), object(5)
memory usage: 30.9+ KB

The `info()` method tells us that there are 563 rows and 7 columns in the dataframe. Almost all columns have 563 non-null values, except the column of `Acquiring Institution`.

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

In the exercises in this notebook, we'll work on a dataset built from Constellate.

We'll use the `constellate` client to automatically retrieve the [metadata](https://constellate.org/docs/key-terms/#metadata) for a [dataset](https://constellate.org/docs/key-terms/#dataset). We can retrieve [metadata](https://constellate.org/docs/key-terms/#metadata) in a [CSV file](https://constellate.org/docs/key-terms/#csv-file) using the `get_metadata` method.

In [7]:
# download and import constellate library
!pip3 install constellate-client
import constellate

Requirement already satisfied: constellate-client in /opt/homebrew/lib/python3.10/site-packages (0.0.6)
Requirement already satisfied: progressbar in /opt/homebrew/lib/python3.10/site-packages (from constellate-client) (2.5)
Requirement already satisfied: requests in /opt/homebrew/lib/python3.10/site-packages (from constellate-client) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/lib/python3.10/site-packages (from requests->constellate-client) (1.26.13)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.10/site-packages (from requests->constellate-client) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/lib/python3.10/site-packages (from requests->constellate-client) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.10/site-packages (from requests->constellate-client) (3.4)
Constellate: use and download of datasets is covered by the Terms & Conditions of Use: https://constellate.org/terms-and-conditions/

In [8]:
# Creating a variable `dataset_id` to hold our dataset ID
# The default dataset is Shakespeare Quarterly, 1950-present
# retrieve the metadata
dataset_id = "7e41317e-740f-e86a-4729-20dab492e925"
metadata = constellate.get_metadata(dataset_id)

All documents from JSTOR published in Shakespeare Quarterly from 1950 - 2020. 6745 documents.
INFO:root:File /Users/zchen/data/7e41317e-740f-e86a-4729-20dab492e925-sampled-metadata.csv exists. Not re-downloading.

The metadata is stored in a .csv file. In the following code cell, read in the data using Pandas. Give the dataframe a name of your choice. Then print out the dataframe to take a look.

Use a Pandas method to explore the dataframe. How many rows does it have? How many columns does it have? What is the data type of the data in each column?

## Filter dataframe
We have learned how to use `.loc` and `.iloc` to select part of a dataframe in [Pandas 1](./pandas-1.ipynb). We will learn more ways to do data filtering in this section.
### Work with missing values
It is a common case that datasets have missing values. As you may have already noticed, blank cells in a CSV file show up as NaN in a Pandas DataFrame. For example, in our dataset, the `Acquiring Institution` column gives the name when a failed bank was acquired by another institution and is empty otherwise.

In [9]:
# Use isna() to check whether a dataframe has missing values
df.isna()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
553,False,False,False,False,True,False,False
554,False,False,False,False,False,False,False
555,False,False,False,False,False,False,False
556,False,False,False,False,False,False,False
557,False,False,False,False,False,False,False
558,False,False,False,False,False,False,False
559,False,False,False,False,False,False,False
560,False,False,False,False,False,False,False
561,False,False,False,False,False,False,False
562,False,False,False,False,False,False,False

In [10]:
# Use isna() to check whether a column has missing values
df['Acquiring Institution'].isna()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
       ...
553     True
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
Name: Acquiring Institution, Length: 563, dtype: bool

We can use `.dropna()` method to remove rows or columns with missing values.

In [11]:
# Use .dropna() to remove all rows with at least one missing value
df.dropna() # no argument passed in

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
...,...,...,...,...,...,...,...
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [12]:
# Use .dropna() to remove all rows with at least one missing value
df.dropna(axis=0) # Set the axis to 0

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
...,...,...,...,...,...,...,...
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [13]:
# Use .dropna() to remove all rows with at least one missing value
df.dropna(axis='rows') # Set the axis to 'rows'

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
...,...,...,...,...,...,...,...
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [14]:
# Use .dropna() to remove all columns with at least one missing value
df.dropna(axis=1) # set the axis to 1

,Bank Name,City,State,Cert,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,13-Oct-17,10529
...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,13-Oct-00,4645

In [15]:
# Use .dropna() to remove all columns with at least one missing value
df.dropna(axis='columns') # set the axis to 'columns'

,Bank Name,City,State,Cert,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,13-Oct-17,10529
...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,13-Oct-00,4645

In [16]:
# Specify the columns to look for missing values
df.dropna(subset=['Acquiring Institution'])

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
...,...,...,...,...,...,...,...
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

Note that the `.dropna()` method only gives you a preview of the change. The rows or columns with null values are not dropped in the original dataframe. To make the change permanent, you could either assign the result to the variable where you store you dataframe to update it; or you could use the parameter `inplace=True`.

Sometimes, you would want to maintain the rows and columns that have missing values. However, you would want to fill the cells with NaN values with some values which are of the same data type as the other cells in the same column. In this way, when you apply a certain function to a column in a dataframe, you will not run into type error. A common practice to deal with this kind of problem is to use the `.fillna()` method.

In [17]:
# Fill the missing values
df['Acquiring Institution'].fillna('No Acquirer')

0                              Equity Bank
1                United Fidelity Bank, fsb
2                           MVB Bank, Inc.
3               Farmers and Merchants Bank
4                          Industrial Bank
5                       Buckeye State Bank
6        Kentucky Farmers Bank Corporation
7                       Legend Bank, N. A.
8                       Royal Savings Bank
9                              Conway Bank
                      ...
553                            No Acquirer
554         The State Bank & Trust Company
555       The Security State Bank of Pecos
556       Israel Discount Bank of New York
557                     Delta Trust & Bank
558                  Superior Federal, FSB
559                      North Valley Bank
560    Southern New Hampshire Bank & Trust
561                Banterra Bank of Marion
562                     Bank of the Orient
Name: Acquiring Institution, Length: 563, dtype: object

### Drop columns or rows
If a certain column or a row is no longer useful in the data analysis, we can drop it from a dataframe.

In [18]:
# Drop a column by setting the columns parameter
df.drop(columns='Fund')

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17
...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00

In [19]:
# Drop multiple columns by setting the columns parameter
df.drop(columns=['Fund', 'Cert'])

,Bank Name,City,State,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,Equity Bank,23-Oct-20
1,First City Bank of Florida,Fort Walton Beach,FL,"United Fidelity Bank, fsb",16-Oct-20
2,The First State Bank,Barboursville,WV,"MVB Bank, Inc.",3-Apr-20
3,Ericson State Bank,Ericson,NE,Farmers and Merchants Bank,14-Feb-20
4,City National Bank of New Jersey,Newark,NJ,Industrial Bank,1-Nov-19
5,Resolute Bank,Maumee,OH,Buckeye State Bank,25-Oct-19
6,Louisa Community Bank,Louisa,KY,Kentucky Farmers Bank Corporation,25-Oct-19
7,The Enloe State Bank,Cooper,TX,"Legend Bank, N. A.",31-May-19
8,Washington Federal Bank for Savings,Chicago,IL,Royal Savings Bank,15-Dec-17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,Conway Bank,13-Oct-17
...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,NaN,7-Feb-02
554,Oakwood Deposit Bank Co.,Oakwood,OH,The State Bank & Trust Company,1-Feb-02
555,Bank of Sierra Blanca,Sierra Blanca,TX,The Security State Bank of Pecos,18-Jan-02
556,"Hamilton Bank, NA",Miami,FL,Israel Discount Bank of New York,11-Jan-02
557,Sinclair National Bank,Gravette,AR,Delta Trust & Bank,7-Sep-01
558,"Superior Bank, FSB",Hinsdale,IL,"Superior Federal, FSB",27-Jul-01
559,Malta National Bank,Malta,OH,North Valley Bank,3-May-01
560,First Alliance Bank & Trust Co.,Manchester,NH,Southern New Hampshire Bank & Trust,2-Feb-01
561,National State Bank of Metropolis,Metropolis,IL,Banterra Bank of Marion,14-Dec-00
562,Bank of Honolulu,Honolulu,HI,Bank of the Orient,13-Oct-00

In [20]:
# Drop a column by setting the axis parameter
df.drop('Fund', axis=1)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17
...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00

In [21]:
# Drop multiple columns by setting the axis parameter
df.drop(['Fund', 'Cert'], axis=1)

,Bank Name,City,State,Acquiring Institution,Closing Date
0,Almena State Bank,Almena,KS,Equity Bank,23-Oct-20
1,First City Bank of Florida,Fort Walton Beach,FL,"United Fidelity Bank, fsb",16-Oct-20
2,The First State Bank,Barboursville,WV,"MVB Bank, Inc.",3-Apr-20
3,Ericson State Bank,Ericson,NE,Farmers and Merchants Bank,14-Feb-20
4,City National Bank of New Jersey,Newark,NJ,Industrial Bank,1-Nov-19
5,Resolute Bank,Maumee,OH,Buckeye State Bank,25-Oct-19
6,Louisa Community Bank,Louisa,KY,Kentucky Farmers Bank Corporation,25-Oct-19
7,The Enloe State Bank,Cooper,TX,"Legend Bank, N. A.",31-May-19
8,Washington Federal Bank for Savings,Chicago,IL,Royal Savings Bank,15-Dec-17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,Conway Bank,13-Oct-17
...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,NaN,7-Feb-02
554,Oakwood Deposit Bank Co.,Oakwood,OH,The State Bank & Trust Company,1-Feb-02
555,Bank of Sierra Blanca,Sierra Blanca,TX,The Security State Bank of Pecos,18-Jan-02
556,"Hamilton Bank, NA",Miami,FL,Israel Discount Bank of New York,11-Jan-02
557,Sinclair National Bank,Gravette,AR,Delta Trust & Bank,7-Sep-01
558,"Superior Bank, FSB",Hinsdale,IL,"Superior Federal, FSB",27-Jul-01
559,Malta National Bank,Malta,OH,North Valley Bank,3-May-01
560,First Alliance Bank & Trust Co.,Manchester,NH,Southern New Hampshire Bank & Trust,2-Feb-01
561,National State Bank of Metropolis,Metropolis,IL,Banterra Bank of Marion,14-Dec-00
562,Bank of Honolulu,Honolulu,HI,Bank of the Orient,13-Oct-00

In [22]:
# Drop a row by setting the index parameter
df.drop(index=0)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [23]:
# Drop multiple rows

In [24]:
# Drop a row by setting the axis parameter
df.drop(0, axis=0)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529
10,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,10528
...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645

In [25]:
# Drop multiple rows by setting the axis parameter

Again, if you want the drop to take place, you will need to assign the resulting dataframe after the drop to the variable storing the original dataframe or set the parameter `inplace=True`.

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

When you explore the Shakespeare dataframe, what did you find about the column `doi`? What did you find about the column `placeOfPublication`? Is there any non-null value in them?

In [26]:
# Drop the columns of doi and the placeofPublication, make the change permanent

### Filter data using conditionals
Conditional selection using `df.loc[]` is a very common method to filter a dataframe. 

You write a filtering condition to filter a target column. The condition then checks, for each cell in the target column, whether it fulfills the condition or not. The results will be returned as a Series of True/False values. The `.loc` indexer then uses this Series to select the rows that have True values. 

Suppose you are interested in the banks that failed since 2000 in the state of Georgia. From the original dataframe, you would like to get all the rows of the failed banks in Georgia. How do you do it?

In [27]:
# Write a filtering condition
df['State'] == 'GA' # Returns a Series of True/False values for the column 'State'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
       ...
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
Name: State, Length: 563, dtype: bool

In [28]:
# Assign the filtering condition to a variable
filt = (df['State'] == 'GA') # Use parenthesis for better reading

In [29]:
# Put the Series returned by the filtering condition within the hard brackets of df.loc[]
df.loc[filt]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521
22,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,10516
26,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,10512
34,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,10504
59,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13,10481
61,Douglas County Bank,Douglasville,GA,21649,Hamilton State Bank,26-Apr-13,10476
67,Frontier Bank,LaGrange,GA,16431,HeritageBank of the South,8-Mar-13,10471
72,Hometown Community Bank,Braselton,GA,57928,"CertusBank, National Association",16-Nov-12,10466
83,Jasper Banking Company,Jasper,GA,16240,Stearns Bank N.A.,27-Jul-12,10455
86,First Cherokee State Bank,Woodstock,GA,32711,Community & Southern Bank,20-Jul-12,10450
...,...,...,...,...,...,...,...
493,FirstCity Bank,Stockbridge,GA,18243,NaN,20-Mar-09,10047
494,Freedom Bank of Georgia,Commerce,GA,57558,Northeast Georgia Bank,6-Mar-09,10044
504,FirstBank Financial Services,McDonough,GA,57017,Regions Bank,6-Feb-09,10036
512,Haven Trust Bank,Duluth,GA,35379,"Branch Banking & Trust Company, (BB&T)",12-Dec-08,10027
513,First Georgia Community Bank,Jackson,GA,34301,United Bank,5-Dec-08,10025
516,Community Bank,Loganville,GA,16490,Bank of Essex,21-Nov-08,10022
520,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.",24-Oct-08,10018
526,Integrity Bank,Alpharetta,GA,35469,Regions Bank,29-Aug-08,10012
537,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,10001
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657

Out of the rows that fulfill the filtering condition, we can further specify which columns to be returned.

In [30]:
# Specify a single column to be returned
df.loc[filt, 'Bank Name']

17          The Woodbury Banking Company
22                   The Bank of Georgia
26     Capitol City Bank & Trust Company
34              Eastside Commercial Bank
59                          Sunrise Bank
61                   Douglas County Bank
67                         Frontier Bank
72               Hometown Community Bank
83                Jasper Banking Company
86             First Cherokee State Bank
                     ...
493                       FirstCity Bank
494              Freedom Bank of Georgia
504         FirstBank Financial Services
512                     Haven Trust Bank
513         First Georgia Community Bank
516                       Community Bank
520                   Alpha Bank & Trust
526                       Integrity Bank
537                              NetBank
548           AmTrade International Bank
Name: Bank Name, Length: 93, dtype: object

Of course, we can select muliple columns to be returned out of the filtered rows.

In [31]:
# Specify multiple columns to be returned
df.loc[filt, ['Bank Name', 'Fund']]

                             Bank Name   Fund
17        The Woodbury Banking Company  10521
22                 The Bank of Georgia  10516
26   Capitol City Bank & Trust Company  10512
34            Eastside Commercial Bank  10504
59                        Sunrise Bank  10481
61                 Douglas County Bank  10476
67                       Frontier Bank  10471
72             Hometown Community Bank  10466
83              Jasper Banking Company  10455
86           First Cherokee State Bank  10450
..                                 ...    ...
493                     FirstCity Bank  10047
494            Freedom Bank of Georgia  10044
504       FirstBank Financial Services  10036
512                   Haven Trust Bank  10027
513       First Georgia Community Bank  10025
516                     Community Bank  10022
520                 Alpha Bank & Trust  10018
526                     Integrity Bank  10012
537                            NetBank  10001
548         AmTrade International Bank   4657

[93 rows x 2 columns]

Now suppose you want to get all the failed banks whose name contains the word 'community'.

In [32]:
# Get all the banks with the word 'community' in their name
filt = (df['Bank Name'].str.contains('Community'))
df.loc[filt, ['Bank Name']]

                                             Bank Name
6                                Louisa Community Bank
15                              Harvest Community Bank
27                             Highland Community Bank
47          Texas Community Bank, National Association
50                                The Community's Bank
52                                Community South Bank
54   First Community Bank of Southwest Florida (als...
60                               Pisgah Community Bank
63                              Chipola Community Bank
70                             Westside Community Bank
..                                                 ...
439                               Community First Bank
440         Community National Bank of Sarasota County
444                             Peoples Community Bank
469                        Neighborhood Community Bank
470                     Community Bank of West Georgia
473                            Southern Community Bank
480                            Citizens Community Bank
496                            Heritage Community Bank
513                       First Georgia Community Bank
516                                     Community Bank

[63 rows x 1 columns]

#### Conjunction of multiple filtering conditions: `&`

Oftentimes, you would want to filter a dataframe based on more complex conditions. For example, suppose you would like to get the banks in GA that were closed between 2008 and 2010. How do you use `df.loc[ ]` to achieve it?

The location of the failed banks is stored in the `State` column. The closing year of the banks is stored in the `Closing Date` column.

In [33]:
# Create the first filtering condition restricting the state
filt1 = (df['State'] == 'GA')

How to get the closing year of the banks? Recall what we have learned in [Pandas 1](./pandas-1.ipynb) about creating a new column based on an old one. How do you extract the closing year out of the column `Closing Date`? We can use the `.apply()` method.

In [34]:
# Create a new column storing the closing year of the banks
df['Closing Year'] = df['Closing Date'].apply(lambda r: r.split('-')[2])
df['Closing Year'] = df['Closing Year'].astype(int)

In [35]:
# Take a look at the dataframe
df

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund,Closing Year
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
...,...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

In [36]:
# Create the second filtering condition restricting the closing year
filt2 = (df['Closing Year'] > 7) & (df['Closing Year'] < 11)

With the two filtering conditions, we are ready to extract the banks in GA that failed between 2008 and 2010.

In [37]:
# Use filt1 and filt2 to get the target rows
df.loc[filt1 & filt2]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund,Closing Year
216,"United Americas Bank, N.A.",Atlanta,GA,35065,State Bank and Trust Company,17-Dec-10,10323,10
217,"Appalachian Community Bank, FSB",McCaysville,GA,58495,Peoples Bank of East Tennessee,17-Dec-10,10319,10
218,Chestatee State Bank,Dawsonville,GA,34578,Bank of the Ozarks,17-Dec-10,10320,10
226,Darby Bank & Trust Co.,Vidalia,GA,14580,Ameris Bank,12-Nov-10,10312,10
227,Tifton Banking Company,Tifton,GA,57831,Ameris Bank,12-Nov-10,10313,10
235,The First National Bank of Barnesville,Barnesville,GA,2119,United Bank,22-Oct-10,10304,10
236,The Gordon Bank,Gordon,GA,33904,Morris Bank,22-Oct-10,10305,10
248,The Peoples Bank,Winder,GA,182,Community & Southern Bank,17-Sep-10,10292,10
249,First Commerce Community Bank,Douglasville,GA,57448,Community & Southern Bank,17-Sep-10,10289,10
250,Bank of Ellijay,Ellijay,GA,58197,Community & Southern Bank,17-Sep-10,10287,10
267,Northwest Bank & Trust,Acworth,GA,57658,State Bank and Trust Company,30-Jul-10,10274,10
273,Crescent Bank and Trust Company,Jasper,GA,27559,Renasant Bank,23-Jul-10,10265,10
286,First National Bank,Savannah,GA,34152,"The Savannah Bank, N.A.",25-Jun-10,10251,10
302,Satilla Community Bank,Saint Marys,GA,35114,Ameris Bank,14-May-10,10238,10
331,Unity National Bank,Cartersville,GA,34678,Bank of the Ozarks,26-Mar-10,10208,10
333,McIntosh Commercial Bank,Carrollton,GA,57399,CharterBank,26-Mar-10,10207,10
336,Bank of Hiawassee,Hiawassee,GA,10054,Citizens South Bank,19-Mar-10,10202,10
337,Appalachian Community Bank,Ellijay,GA,33989,Community & Southern Bank,19-Mar-10,10199,10
339,Century Security Bank,Duluth,GA,58104,Bank of Upson,19-Mar-10,10198,10
358,Community Bank and Trust,Cornelia,GA,5702,SCBT National Association,29-Jan-10,10180,10
361,First National Bank of Georgia,Carrollton,GA,16480,Community & Southern Bank,29-Jan-10,10179,10
377,RockBridge Commercial Bank,Atlanta,GA,58315,NaN,18-Dec-09,10164,9
384,The Tattnall Bank,Reidsville,GA,12080,Heritage Bank of the South,4-Dec-09,10153,9
385,First Security National Bank,Norcross,GA,26290,State Bank and Trust Company,4-Dec-09,10157,9
386,The Buckhead Community Bank,Atlanta,GA,34663,State Bank and Trust Company,4-Dec-09,10152,9
395,United Security Bank,Sparta,GA,22286,Ameris Bank,6-Nov-09,10145,9
410,American United Bank,Lawrenceville,GA,57794,Ameris Bank,23-Oct-09,10127,9
416,Georgian Bank,Atlanta,GA,57151,"First Citizens Bank and Trust Company, Inc.",25-Sep-09,10122,9
432,First Coweta Bank,Newnan,GA,57702,United Bank,21-Aug-09,10108,9
433,ebank,Atlanta,GA,34682,"Stearns Bank, N.A.",21-Aug-09,10107,9
447,Security Bank of Jones County,Gray,GA,8486,State Bank and Trust Company,24-Jul-09,10088,9
448,Security Bank of Houston County,Perry,GA,27048,State Bank and Trust Company,24-Jul-09,10087,9
449,Security Bank of Bibb County,Macon,GA,27367,State Bank and Trust Company,24-Jul-09,10085,9
450,Security Bank of North Metro,Woodstock,GA,57105,State Bank and Trust Company,24-Jul-09,10090,9
451,Security Bank of North Fulton,Alpharetta,GA,57430,State Bank and Trust Company,24-Jul-09,10089,9
452,Security Bank of Gwinnett County,Suwanee,GA,57346,State Bank and Trust Company,24-Jul-09,10086,9
457,First Piedmont Bank,Winder,GA,34594,First American Bank and Trust Company,17-Jul-09,10084,9
469,Neighborhood Community Bank,Newnan,GA,35285,CharterBank,26-Jun-09,10069,9
470,Community Bank of West Georgia,Villa Rica,GA,57436,NaN,26-Jun-09,10068,9
473,Southern Community Bank,Fayetteville,GA,35251,United Community Bank,19-Jun-09,10067,9
481,"Silverton Bank, NA",Atlanta,GA,26535,NaN,1-May-09,10059,9
485,American Southern Bank,Kennesaw,GA,57943,Bank of North Georgia,24-Apr-09,10053,9
490,Omni National Bank,Atlanta,GA,22238,NaN,27-Mar-09,10048,9
493,FirstCity Bank,Stockbridge,GA,18243,NaN,20-Mar-09,10047,9
494,Freedom Bank of Georgia,Commerce,GA,57558,Northeast Georgia Bank,6-Mar-09,10044,9
504,FirstBank Financial Services,McDonough,GA,57017,Regions Bank,6-Feb-09,10036,9
512,Haven Trust Bank,Duluth,GA,35379,"Branch Banking & Trust Company, (BB&T)",12-Dec-08,10027,8
513,First Georgia Community Bank,Jackson,GA,34301,United Bank,5-Dec-08,10025,8
516,Community Bank,Loganville,GA,16490,Bank of Essex,21-Nov-08,10022,8
520,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.",24-Oct-08,10018,8
526,Integrity Bank,Alpharetta,GA,35469,Regions Bank,29-Aug-08,10012,8

Note that when we extract rows that fulfill multiple conditions, we use `&` in Pandas, not `and`. If you replace `&` with `and`, you will get an error. This is different than what we have learned about boolean operators in [Python basics 2](./python-basics-2.ipynb). In Python, we use `and`, `or` and `not`. In Pandas, we use `&`, `|` and `~` intead. 

|Pandas Operator|Boolean|Requires|
|---|---|---|
|&|and|All required to `True`|
|\||or|If any are `True`|
|~|not|The opposite|

Although we use different symbols for these boolean operators, the truth table for them stays the same. For a quick review of the truth table, see [Python basics 2](./python-basics-2.ipynb).

#### Disjunction of multiple filtering conditions: `|`
Suppose you would like to take a look at all the failed banks in the state of Georgia or the state of New York. How do you use `df.loc[ ]` to get the target rows?

In [38]:
# Create the two filtering conditions restricting the state to GA and NY
filt1 = (df['State'] == 'GA')
filt2 = (df['State'] == 'NY')

In [39]:
# Use filt1 and filt2 to get the target rows
df.loc[filt1|filt2]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund,Closing Year
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
22,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,10516,15
26,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,10512,15
34,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,10504,14
59,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13,10481,13
61,Douglas County Bank,Douglasville,GA,21649,Hamilton State Bank,26-Apr-13,10476,13
67,Frontier Bank,LaGrange,GA,16431,HeritageBank of the South,8-Mar-13,10471,13
72,Hometown Community Bank,Braselton,GA,57928,"CertusBank, National Association",16-Nov-12,10466,12
83,Jasper Banking Company,Jasper,GA,16240,Stearns Bank N.A.,27-Jul-12,10455,12
86,First Cherokee State Bank,Woodstock,GA,32711,Community & Southern Bank,20-Jul-12,10450,12
...,...,...,...,...,...,...,...,...
494,Freedom Bank of Georgia,Commerce,GA,57558,Northeast Georgia Bank,6-Mar-09,10044,9
504,FirstBank Financial Services,McDonough,GA,57017,Regions Bank,6-Feb-09,10036,9
512,Haven Trust Bank,Duluth,GA,35379,"Branch Banking & Trust Company, (BB&T)",12-Dec-08,10027,8
513,First Georgia Community Bank,Jackson,GA,34301,United Bank,5-Dec-08,10025,8
516,Community Bank,Loganville,GA,16490,Bank of Essex,21-Nov-08,10022,8
520,Alpha Bank & Trust,Alpharetta,GA,58241,"Stearns Bank, N.A.",24-Oct-08,10018,8
526,Integrity Bank,Alpharetta,GA,35469,Regions Bank,29-Aug-08,10012,8
537,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,10001,7
540,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,4664,4
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2

If you would like to get the data of the failed banks in the following six states --- Georgia, New York, New Jersey, Florida, California and West Virginia, you will not want to write six filtering conditions and use the vertical bar `|` to connect all of them. That would be too repetitive. In this case, we can use the `.isin()` method to create a filtering condition.

In [40]:
# Create a list of the states
states = ['GA', 'NY', 'NJ', 'FL', 'CA', 'WV']

In [41]:
# Create a filtering condition
filt = (df['State'].isin(states))

In [42]:
# Use filt to find all failed banks in the six states
df.loc[filt]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund,Closing Year
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
15,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,10523,17
17,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16,10521,16
22,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,10516,15
26,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15,10512,15
28,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,16-Jan-15,10510,15
30,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.",7-Nov-14,10508,14
34,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14,10504,14
...,...,...,...,...,...,...,...,...
529,"First Heritage Bank, NA",Newport Beach,CA,57961,Mutual of Omaha Bank,25-Jul-08,10009,8
531,IndyMac Bank,Pasadena,CA,29730,"OneWest Bank, FSB",11-Jul-08,10007,8
537,NetBank,Alpharetta,GA,32575,ING DIRECT,28-Sep-07,10001,7
540,Reliance Bank,White Plains,NY,26778,Union State Bank,19-Mar-04,4664,4
541,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,12-Mar-04,4663,4
542,Dollar Savings Bank,Newark,NJ,31330,NaN,14-Feb-04,6006,4
545,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,7-Feb-03,4660,3
548,AmTrade International Bank,Atlanta,GA,33784,NaN,30-Sep-02,4657,2
552,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,1-Mar-02,4654,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2

#### Negation of a certain condition:`~`
Now, suppose you would like to get all the failed banks that were **not** closed in 2008. How do you do it?

In [43]:
# Create the filtering condition restricting the closing year to non-2008
filt = (~(df['Closing Year'] == 8))

In [44]:
# Use the filtering condition to get the target rows with specified columns
df.loc[filt, ['Bank Name', 'City']]

                                           Bank Name               City
0                                  Almena State Bank             Almena
1                         First City Bank of Florida  Fort Walton Beach
2                               The First State Bank      Barboursville
3                                 Ericson State Bank            Ericson
4                   City National Bank of New Jersey             Newark
5                                      Resolute Bank             Maumee
6                              Louisa Community Bank             Louisa
7                               The Enloe State Bank             Cooper
8                Washington Federal Bank for Savings            Chicago
9    The Farmers and Merchants State Bank of Argonia            Argonia
..                                               ...                ...
553                                     NextBank, NA            Phoenix
554                         Oakwood Deposit Bank Co.            Oakwood
555                            Bank of Sierra Blanca      Sierra Blanca
556                                Hamilton Bank, NA              Miami
557                           Sinclair National Bank           Gravette
558                               Superior Bank, FSB           Hinsdale
559                              Malta National Bank              Malta
560                  First Alliance Bank & Trust Co.         Manchester
561                National State Bank of Metropolis         Metropolis
562                                 Bank of Honolulu           Honolulu

[538 rows x 2 columns]

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

Let's do some filtering!

From the Shakespeare dataframe, get the title and the creator of the documents published between 2000 **and** 2010.

From the Shakespeare dataframe, get the creator of the documents shorter than 10 pages **or** longer than 50 pages.

From the Shakespeare dataframe, get the title of the documents whose publisher is **not** Folger Shakespeare Library.

## Update a dataframe
We can make changes to the data in a dataframe.
### Update headers
We can update the column names of a dataframe.

In [45]:
# Take a look at the columns
df.columns

Index(['Bank Name', 'City', 'State', 'Cert', 'Acquiring Institution',
       'Closing Date', 'Fund', 'Closing Year'],
      dtype='object')

In [46]:
# Access a column using the dot notation
df.City

0                 Almena
1      Fort Walton Beach
2          Barboursville
3                Ericson
4                 Newark
5                 Maumee
6                 Louisa
7                 Cooper
8                Chicago
9                Argonia
             ...
553              Phoenix
554              Oakwood
555        Sierra Blanca
556                Miami
557             Gravette
558             Hinsdale
559                Malta
560           Manchester
561           Metropolis
562             Honolulu
Name: City, Length: 563, dtype: object

In [47]:
# If a column name has a space in it
df.Bank Name

SyntaxError: invalid syntax (3808230729.py, line 2)

We could replace all the spaces in column names with an `_`. In this way, we can access all the columns using the dot notation.

In [48]:
# Replace spaces in column names with underscores
df.columns = df.columns.str.replace(' ', '_')
df

,Bank_Name,City,State,Cert,Acquiring_Institution,Closing_Date,Fund,Closing_Year
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
...,...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

You could also change the case of the headers.

In [49]:
# Change all headers to upper case
df.columns.str.upper()

Index(['BANK_NAME', 'CITY', 'STATE', 'CERT', 'ACQUIRING_INSTITUTION',
       'CLOSING_DATE', 'FUND', 'CLOSING_YEAR'],
      dtype='object')

We have been updating the column names all at one time. However, oftentimes we just want to update specific columns. In this case, we could use the `df.rename()` method and pass in a **dictionary** where the keys are the original column names and the values are the new column names.

In [50]:
# Change the column name of 'CERT' to 'CERTIFICATE_NUM'
df.rename(columns = {'Cert':'Certificate_Num'})

,Bank_Name,City,State,Certificate_Num,Acquiring_Institution,Closing_Date,Fund,Closing_Year
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
...,...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

To change multiple column names, we just pass in a dictionary to `df.rename()` with multiple key:value pairs.

In [51]:
# Change multiple column names
df.rename(columns = {'Cert':'Certificate_Num', 'Fund':'Financial_Institution_Num'})

,Bank_Name,City,State,Certificate_Num,Acquiring_Institution,Closing_Date,Financial_Institution_Num,Closing_Year
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
...,...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

In [52]:
# Make the change permanent
df.rename(columns = {'Cert':'Certificate_Num', 'Fund':'Financial_Institution_Num'}, inplace = True)

### Update rows 
How to update the values in a row? In [Pandas 1](./pandas-1.ipynb), we have learned how to look up values using `.loc` and `.iloc`.

To update a row, we could use `.loc` or `.iloc` to locate it and then assign the new values to that row.

In [53]:
# Change an entire row
df.loc[0] = ['Almena State Bank', 'Almena', 'KS', 15426, 'Equity Bank', '23-Oct-20', 10000, 20]

You can locate a specific cell in a row and update the value in that cell alone.

In [54]:
# Change a specific value in a row
df.loc[0, 'Financial_Institution_Num'] = 10001
df

,Bank_Name,City,State,Certificate_Num,Acquiring_Institution,Closing_Date,Financial_Institution_Num,Closing_Year
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10001,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
...,...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

We could change multiple specific values in a row using `.loc[]`.

In [55]:
# Change multiple values in a row
df.loc[0, ['Bank_Name', 'Financial_Institution_Num']] = ['Almena Bank', 12000]
df

,Bank_Name,City,State,Certificate_Num,Acquiring_Institution,Closing_Date,Financial_Institution_Num,Closing_Year
0,Almena Bank,Almena,KS,15426,Equity Bank,23-Oct-20,12000,20
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,20
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,20
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,20
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,19
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,19
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,19
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,19
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,17
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,17
...,...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,1
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,1
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,1
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,1
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,0
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,0

### Update columns
There are multiple methods we can use to update columns: `.apply()`, `.map()` and `replace()`.

In [56]:
# Use apply to update the column CLOSING_YEAR
df['Closing_Year'] = df['Closing_Year'].apply(lambda r:r+2000)
df

,Bank_Name,City,State,Certificate_Num,Acquiring_Institution,Closing_Date,Financial_Institution_Num,Closing_Year
0,Almena Bank,Almena,KS,15426,Equity Bank,23-Oct-20,12000,2020
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537,2020
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,10536,2020
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535,2020
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,2019
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,2019
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,2019
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,2019
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,2017
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,2017
...,...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2002
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2002
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2002
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2002
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,2001
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,2001
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,2001
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,2001
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,2000
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,2000

In [57]:
# Use .map() to update specific values in a column
df['Bank_Name'].map({'Almena Bank': 'Almena State Bank', 'The First State Bank': 'West Virginia Bank'})

0       Almena State Bank
1                     NaN
2      West Virginia Bank
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7                     NaN
8                     NaN
9                     NaN
              ...
553                   NaN
554                   NaN
555                   NaN
556                   NaN
557                   NaN
558                   NaN
559                   NaN
560                   NaN
561                   NaN
562                   NaN
Name: Bank_Name, Length: 563, dtype: object

In [58]:
# Use .replace() to update specific values in a column while maintaining the rest
df['Bank_Name'].replace({'Almena Bank': 'Almena State Bank', 'The First State Bank': 'West Virginia Bank'})

0                                    Almena State Bank
1                           First City Bank of Florida
2                                   West Virginia Bank
3                                   Ericson State Bank
4                     City National Bank of New Jersey
5                                        Resolute Bank
6                                Louisa Community Bank
7                                 The Enloe State Bank
8                  Washington Federal Bank for Savings
9      The Farmers and Merchants State Bank of Argonia
                            ...
553                                       NextBank, NA
554                           Oakwood Deposit Bank Co.
555                              Bank of Sierra Blanca
556                                  Hamilton Bank, NA
557                             Sinclair National Bank
558                                 Superior Bank, FSB
559                                Malta National Bank
560                    First Alliance Bank & Trust Co.
561                  National State Bank of Metropolis
562                                   Bank of Honolulu
Name: Bank_Name, Length: 563, dtype: object

We can also use a filtering condition to locate the target columns and then make changes. 

For example, we can locate all the banks that failed in 2020 and change their closing date to 'Recent'.

In [59]:
# Make a filtering condition to get the banks that failed in 2020
filt = (df['Closing_Year'] == 2020)

In [60]:
# Use the filtering condition to locate the columns and update them
df.loc[filt, ['Financial_Institution_Num', 'Closing_Year']] = [1000, 'Recent']
df

,Bank_Name,City,State,Certificate_Num,Acquiring_Institution,Closing_Date,Financial_Institution_Num,Closing_Year
0,Almena Bank,Almena,KS,15426,Equity Bank,23-Oct-20,1000,Recent
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,1000,Recent
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20,1000,Recent
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,1000,Recent
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19,10534,2019
5,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19,10533,2019
6,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19,10532,2019
7,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19,10531,2019
8,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17,10530,2017
9,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17,10529,2017
...,...,...,...,...,...,...,...,...
553,"NextBank, NA",Phoenix,AZ,22314,NaN,7-Feb-02,4653,2002
554,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,1-Feb-02,4652,2002
555,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,4651,2002
556,"Hamilton Bank, NA",Miami,FL,24382,Israel Discount Bank of New York,11-Jan-02,4650,2002
557,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,7-Sep-01,4649,2001
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,6004,2001
559,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,4648,2001
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,4647,2001
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,4646,2000
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,4645,2000

<h3 style="color:red; display:inline">Coding Challenge! &lt; / &gt; </h3>

Make all column names in the Shakespeare dataframe upper case.

Get all documents whose current title is 'Review Article' and change their title to 'Review'.

Get all documents whose word count exceeds 5000 and change their word count to the string 'Long article'.

___
## Lesson Complete

Congratulations! You have completed *Pandas 2*.

### Start Next Lesson: [Pandas 3 ->](./pandas-3.ipynb)

### Exercise Solutions
Here are a few solutions for exercises in this lesson.

In [61]:
# Read in the metadata
shake = pd.read_csv(metadata)

In [62]:
# Set the rows to display to 30
pd.set_option('display.max_rows', 30)

In [63]:
# Explore the dataframe
shake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1500 non-null   object
 1   title               1500 non-null   object
 2   isPartOf            1500 non-null   object
 3   publicationYear     1500 non-null   int64
 4   doi                 0 non-null      float64
 5   docType             1500 non-null   object
 6   provider            1500 non-null   object
 7   datePublished       1500 non-null   object
 8   issueNumber         1467 non-null   float64
 9   volumeNumber        1500 non-null   int64
 10  url                 1500 non-null   object
 11  creator             1209 non-null   object
 12  publisher           1500 non-null   object
 13  language            1500 non-null   object
 14  pageStart           1443 non-null   object
 15  pageEnd             1443 non-null   object
 16  placeOfPublication  0 non-null      float64
 17  wordCount           1500 non-null   int64
 18  pageCount           1500 non-null   int64
 19  outputFormat        1500 non-null   object
dtypes: float64(3), int64(4), object(13)
memory usage: 234.5+ KB

In [64]:
# Drop the columns of doi and the placeofPublication, make the change permanent
shake.drop(columns=['doi', 'placeOfPublication'], inplace=True)

In [65]:
# get the title and the creator of the documents published between 2000 and 2010
filt = (shake['publicationYear']>1999) & (shake['publicationYear']<2011)
shake.loc[filt, ['title', 'creator']]

,title,creator
0,Fragments of Nationalism in Troilus and Cressida,Matthew A. Greenfield
15,Citizens' Games: Differentiating Collaboration...,Nina Levine
26,Review Article,Heather Hirschfeld
28,Review Article,Christa Jansohn
31,The Alcestis and the Statue Scene in the Winte...,Sarah Dewar-Watson
35,Review Article,Michelle Ephraim
39,Review Article,Jane Donawerth
40,"When Theaters Were Bear-Gardens; Or, What's at...",Jason Scott-Warren
48,Back Matter,NaN
51,Review Article,Arthur F. Kinney
...,...,...
1355,Review Article,Mary C. Fuller
1356,"The Tragedians of the City? Q1 ""Hamlet"" and th...",Paul Menzer
1364,Front Matter,NaN
1369,"""This SympathizÃ¨d One Day's Error"": Genre, Rep...",Martine van Elk
1382,Review Article,Roy Flannagan
1384,Review Article,Susan Carlson
1394,Review Article,Jonathan Gil Harris
1452,Review Article,Georgianna Ziegler
1474,Review Article,Margarida Gandara Rauen
1488,Review Article,Edmund Valentine Campos

In [66]:
# get the creator of the documents shorter than 10 pages or longer than 50 pages
filt = (shake['pageCount']<10)|(shake['pageCount']>50)
shake.loc[filt, 'creator']

2                    R. G. Cox
3                 Darryl Gless
4              Marion O'Connor
5       Jeanne Addison Roberts
7             Wilhelm Hortmann
8           A. H. R. Fairchild
9                 John W. Velz
10            Anna Maria CrinÃ²
11                         NaN
13                         NaN
                 ...
1489         Claire McGlinchee
1490               David Riggs
1491     George Burke Johnston
1492        Frankie Rubinstein
1493    George Walton Williams
1494         M. Lindsay Kaplan
1495         T. H. Howard-Hill
1496             Yar Slavutych
1498              Thomas Pyles
1499                 S. Thomas
Name: creator, Length: 1258, dtype: object

In [67]:
# get the title of the documents whose publisher is not Folger Shakespeare Library
filt = (shake['publisher']=='Folger Shakespeare Library')
shake.loc[~filt, 'title']

48                                            Back Matter
118     Bibliography: Shakespeare: Annotated World Bib...
257     Bibliography: Shakespeare: Annotated World Bib...
287                                          Front Matter
366     BIBLIOGRAPHY: World Shakespeare Bibliography 1992
664                                          Front Matter
1089                                         Front Matter
1100    BIBLIOGRAPHY: World Shakespeare Bibliography 1993
Name: title, dtype: object

In [68]:
# Make all column names in the Shakespeare dataframe upper case
shake.columns = shake.columns.str.upper()

In [69]:
# Get all documents whose current title is 'Review Article' and change their title to 'Review'
shake.loc[shake['TITLE']=='Review Article', 'TITLE'] = 'Review'

In [70]:
# Get all documents whose word count exceeds 5000 and change their word count to the string 'Long article'
shake.loc[shake['WORDCOUNT']>5000, 'WORDCOUNT'] = 'Long article'